[2022-02-01 16:14] chrisklus opened #1 "Center and Variability main checklist"
# Center and Variability main checklist

## Design
- [x] **Sim folder and design doc created** (Date: //)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/note

[2022-02-01 16:28] chrisklus opened #2 "New sim checklist"
# New Repository Checklist

These steps contain the following placeholders that you'll need to fill in:

- `{{AUTHOR}}}` - the name that will appear in `@author` code annotations, e.g. `Jane Doe`
- `{{REPO}}` - the repository name, e.g. `gas-properties`. This should be composed of lower-case characters and dashes, and should have <=214 characters (see naming constraints in https://docs.npmjs.com/c

[2022-02-01 16:41] markgammon opened #3 "Center and Variability - Publish 1.0"

[2022-02-01 17:22] chrisklus opened #4 "Sim name and third screen are named "Center and Spread""
@samreid and I noticed that the sim name and the third screen and both named "Center and Spread" while we were starting to setup the repo structure. I find this odd, and @samreid pointed out that when the sim is loaded with `screens=3`, the nav bar title will read "Center and Spread - Center & Spread".

Assigning to @amanda-phet for next steps if anything should be changed here.

[2022-02-01 22:56] amanda-phet commented on #4
Let's just change screen 3 to "Spread."

[2022-02-01 23:25] samreid commented on #4
I'll do this momentarily.

[2022-02-01 23:34] samreid opened #5 "Fix options names"
Discovered in #4, several options have bad copy/paste names.  I'll correct this momentarily.

[2022-02-01 23:34] samreid commented on #5
Fixed.  @chrisklus can you please spot check, mostly just to be aware of this change?

[2022-02-01 23:35] samreid commented on #4
OK it was renamed.  @chrisklus would you like to review?

[2022-02-02 00:08] chrisklus commented on #4
Changes look great, thanks! I really like this name change, especially from a code perspective. Closing.

[2022-02-02 00:08] #4 closed

[2022-02-02 00:46] chrisklus commented on #5
Looks good! I found one missing change in LabModel, updated above. Closing.

[2022-02-02 00:46] #5 closed

[2022-02-02 16:34] samreid opened #6 "Median + Mean and Median Screen Sprint"
Issue for tracking this initial sprint.

[2022-02-02 23:44] samreid commented on #6
Questions and answers from slack today:

For the “mean” checkboxes, should they have the exact same i18n string, or should translators be able to specify them independently?

Amanda McGarry  1 hour ago
I’m thinking for “mean” and “median” checkboxes, there isn’t a reason to have these as separate strings.

---

Sam Reid Today at 10:05 AM
For the “mean” checkboxes, should they have the exact same i

[2022-02-03 02:14] samreid opened #7 "Should the "Kick 1" and "Kick 10" button translations factor out "Kick" and use templating?"
Sam Reid  8 hours ago
For i18n “kick”, should we disallow clients from changing the number by using a template variable, like Kick {{NUMBER}}, or leave them full flexibility to phrase it as they see fit?

Amanda McGarry  8 hours ago
I can't recall having a number be translatable for any sim I've worked on. Do you have an example of a precedent for this?

Sam Reid  8 hours ago
My intuition is that

[2022-02-03 02:16] samreid commented on #7
My recommendation is to set it up like:

[code]

This gives the translators flexibility to frame it as appropriate for their language.  Like the argument above:

In previous meetings, @jonathanolson also advocated for translators to have this level of flexibility, and it was my understanding that the team was in agreement.  I don't see the advantage of enforcing a string templating pattern here.

[2022-02-03 02:32] chrisklus commented on #2
Sim setup is complete. Sprint development is continuing over in #6. Closing.

[2022-02-03 02:32] #2 closed

[2022-02-03 03:12] amanda-phet commented on #7
I wasn't aware of previous meetings or consensus on this issue, and assumed that since it was asked as a question there wasn't a clear answer. Since there has been previous discussion about this case, I don't see why we shouldn't go with @samreid 's recommendation.

[2022-02-03 03:22] amanda-phet opened #8 "Verify credits"
@samreid asked on slack:

and set up the following credits:

[code]
Please change the credits to the following:

[code]

(I think it's customary to wait to add QA credits until QA has occurred, but if we need something then it's probably fine to put Kathryn Woessner.)

[2022-02-03 03:52] samreid commented on #7
@chrisklus anything else here?  Can this issue be closed?

[2022-02-03 04:02] chrisklus commented on #7
I think we're all set, thanks all. Closing

[2022-02-03 04:02] #7 closed

[2022-02-03 18:31] kathy-phet commented on #8
Yep, sounds good for this sim.

[2022-02-04 16:09] chrisklus opened #9 "Address in TODOs for initial class descriptions"
@samreid and I are working on one example to set a pattern.

[2022-02-07 16:54] samreid opened #10 "Basic alternative input"
My understanding is that new sims would support basic keyboard navigation.  I think we should enable that for this sim.  @amanda-phet sound good?

[2022-02-08 16:29] samreid opened #11 "What distributions should we use?"
What distributions should we program?  The design doc says “skewed” and “symmetrical” but doesn’t mention gaussian or other distributions (as far as I can tell in a search).

[2022-02-08 16:30] chrisklus opened #12 "Kicker images"
@samreid and I are ready to try out a sample kicker (if there are any "test kickers" ready to go). Thanks!

[2022-02-08 18:38] samreid opened #13 "Cards come out sorted"
@chrisklus and I realized an unintended consequence of "kick 10" - that since the furthest-kicked balls take longer to reach their target, a nearer-kicked ball could land first, and hence the cards could come out pre-sorted.  This did not seem like an intentional part of the design.  We don't know a way around it other than delaying the kicks a lot longer.

[2022-02-08 18:40] samreid opened #14 "Design questions about dragging data points to the bucket in the lab screen."
In the lab screen, when dragging a data point to the bucket, does it "detach" from the data set?  Does it start dragging continuously?

[2022-02-08 21:19] samreid opened #15 "Is it OK to create cards when the balls are created?"
We initially tried to create number cards when the balls land.  This created a problem for PhET-iO because Properties are all deferred until PhetioGroups are complete, see https://github.com/phetsims/phet-io/issues/1688#issuecomment-1032967603

For now, we applied the workaround of creating a card when a ball is kicked, even though the card is not shown until the ball lands.  This works around the

[2022-02-09 16:15] samreid opened #16 "Mockup screenshots have discrepancies"
During development, @chrisklus and I have seen many occurrences where different mockups show different patterns, and we cannot tell which is the more recent or desired one.  For instance, today we saw this mockup for screen 2:

![image](https://user-images.githubusercontent.com/679486/153241867-37a68b48-256d-4600-99e6-ce30fff7cb4e.png)

Then just below, this screenshot for screen 2:

![image](http

[2022-02-09 17:54] amanda-phet commented on #16
This often happens with mockups when we change something in one place and forget to transfer it to other places. It would probably be most efficient to ask about a discrepancy in slack and I can confirm which drawing is correct.

In the example above, we want the second screenshot that only has strings for "Mean" and "Median"  with an image next to it.

[2022-02-09 18:10] chrisklus opened #17 "How should we animate the number cards when sorting?"
The two simple ways of sorting that @samreid and I tried out are:

1. Animate all cards to their destination spot at the same time, all at the same animation speed. This is a lot of moving parts at once, but you tend to be able to watch the last few go into place since cards that have farther to go take longer.

2. Animate all cards to their destination spot at the same time, all with the same dur

[2022-02-09 19:44] samreid commented on #13
At design meeting, we looked at this, and agreed that this isn't problematic.  It's OK for the values to come out a bit sorted.  And it wasn't too bad. Closing.

[2022-02-09 19:44] #13 closed

[2022-02-09 19:46] samreid commented on #15
@kathy-phet and @amanda-phet agreed that creating the cards when the ball is created is not problematic.  It is OK to see a transient invisible card in the tree while the card is animating.  Closing.

[2022-02-09 19:46] #15 closed

[2022-02-09 19:52] samreid commented on #11
At today's design meeting, @amanda-phet said she would give us a function or distribution.

@kathy-phet said @amanda-phet could provide a table with probabilities per cell (normalized to 1).
@amanda-phet asks if all users will see the same distributions, or if it will be randomized from session to session.
@kathy-phet says they can ask with their consulting meeting today, when they discuss with th

[2022-02-09 19:56] samreid opened #18 "Increase the ball size on Median screen"
At today's design meeting, it was requested to increase the ball radius for the median screen, closer to the mock-up.  Like 30 view coordinates diameter.

[2022-02-09 19:59] samreid commented on #18
We increased it during the meeting, closing.

[2022-02-09 19:59] #18 closed

[2022-02-09 20:02] samreid commented on #10
@kathy-phet agreed we can add basic support for checkboxes as we go. But maybe wait until later to add soccer ball dragging.  But @kathy-phet also recommended checking on this at dev meeting to make sure it's a good plan.

[2022-02-09 20:06] samreid commented on #12
@amanda-phet said she can share some images soon.  She will also add transparent padding as appropriate so the images line up.

[2022-02-09 20:09] samreid commented on #14
Like number line integers, as soon as it gets far enough away, it will detach.

[2022-02-09 20:09] samreid commented on #16
Sounds good, we will just ask when we are unclear.

[2022-02-09 20:09] #16 closed

[2022-02-09 20:18] samreid opened #19 "When manually un-sorting the data, the "Sort Data" checkbox should uncheck itself"
When manually un-sorting the data, the "Sort Data" checkbox should uncheck itself

[2022-02-09 20:31] samreid opened #20 "How many data objects should be allowed on each screen?"
See https://github.com/phetsims/center-and-spread/issues/11#issuecomment-1034135509

[2022-02-09 21:03] pixelzoom commented on #10
For fourier-making-waves, I added alt input all at once, when the sim was (near?) feature-complete.  But that was because the alt input requirement was added late in the game.  It was also my first experience with alt input.

For geometric-optics, I've been adding alt input (and sound) as I go. This feels like a better approach, since I'm now thinking about alt input as part of the original design

[2022-02-10 00:01] chrisklus opened #21 "Should the z-order of number cards be set intentionally?"
@samreid and I noticed that sometimes the animating cards feel like the have an incorrect z-position when they are being sorted. We would like to try out showing cards with the longest distance to travel to be in front (but still behind any dragged cards) so that we don't see cards passing behind multiple stationary cards.

We had two more thoughts:

We might not need this at all if we implement o

[2022-02-10 05:10] samreid commented on #19
Fixed, closing.

[2022-02-10 05:10] #19 closed

[2022-02-10 20:47] amanda-phet commented on #17
Discussed this with the pedagogy design team and we decided to go with option 3. I think most users will click "sort data" once, and likely leave it sorted, so it's ok that it will take a little longer to complete.

We also thought it would be fun to have an easter egg in the sim if a user manually sorts the data and gets it correctly sorted from least to greatest, and would like to discuss this a

[2022-02-10 21:14] amanda-phet opened #22 "Minor changes to strings"
1. Change Median screen text to say "What is the typical kick distance?"
2. Change Median accordion box to say "Distance (in meters)"
3. Change second button to say "Kick 5" (and change functionality to kick 5, of course)

[2022-02-10 21:16] amanda-phet opened #23 "Change second kick button to kick 5"
Related to https://github.com/phetsims/center-and-spread/issues/20

We'd like the button to kick 5 so that it doesn't kick all at the same time (just in case that is a user's first interaction), and if they press it first, they will start with a data set that has an odd number of points.

[2022-02-10 21:24] amanda-phet opened #24 "Add an easter egg when a user has manually sorted the data correctly"
Related to https://github.com/phetsims/center-and-spread/issues/17

We'd like to include an easter egg for when students manually sort the data correctly from least to greatest.

Ideas could be:
1. Each card jumps up a little to do a wave
2. Each card could spin around at the same time (around a vertical axis)
3. Fireworks
4. A color could shimmer through the cards
5. Cards could shrink down and p

[2022-02-11 07:07] #23 closed

[2022-02-11 07:32] samreid opened #25 "It seems odd that "kick 5" might not kick 5 balls"
Discovered in https://github.com/phetsims/center-and-spread/issues/23.

On January 5, 2022, we said:

Seeing the sim in context, it doesn't seem ideal that pressing "kick 5" might only kick, say, 3 balls.  There are some straightforward remedies:

* The "kick 5" button could be grayed out and the user could press "kick 1" three times.
* The "kick 5" button label could change to "kick 3"
* The "kic

[2022-02-11 07:37] samreid commented on #25
One minor adjustment that partially stacks the ball icons instead of overlapping left to right. Again, thought this would look better than it did:

<img width="786" alt="image" src="https://user-images.githubusercontent.com/679486/153553262-587f9cfc-fea4-4dc8-a570-6b2c068f27b3.png">

[2022-02-11 07:39] samreid commented on #22
Fixed, closing.

[2022-02-11 07:39] #22 closed

[2022-02-11 07:40] samreid commented on #21
Since we agreed on option 3 from #17, this issue is likely to be unnecessary.  We can reopen it or a new issue if other z-ordering questions arise.  Closing.

[2022-02-11 07:40] #21 closed

[2022-02-11 08:32] samreid opened #26 "PhET-iO support for cards"
Related to https://github.com/phetsims/phet-io/issues/1688#issuecomment-1032967603 and #15, I added about 60 lines of code including CardModel and CardModelIO and the state wrapper is kind of working again.  There is a problem that cards continually re-sort in the downstream sim because the ordered list of cells is not serialized.  I tried a few ideas to transmit that, but it didn't work yet.

Ult

[2022-02-11 16:08] samreid commented on #26
Committed and leaving open for discussion and co-review.

[2022-02-11 20:42] KatieWoe opened #27 "CT Build failed with status code 1"
[code]

[2022-02-12 02:41] samreid opened #28 "What is the spatial value range on the Spread screen?"
What is the spatial value range on every screen?  I recalled that the spread screen would have a wider range and the camera would be zoomed out.  The Feb 1 meeting notes say:

Just spread screen uses smaller ball
Also shrink kicker
Increase range, too

But Screenshots for the Spread screen updated after that show a range 1-16, so I'm not sure what we decided.  @amanda-phet can you please advise?

[2022-02-12 15:33] samreid commented on #28
In slack, @amanda-phet replied:

[2022-02-12 20:39] samreid commented on #27
CT seems clear and I tested a local phet-io build.  It seems ok now, thanks for reporting it!  Let's reopen or create a new issue if it happens again.

[2022-02-13 18:49] samreid commented on #28
If we decide to zoom out the camera on some screens, we will likely want to change the touch area as described in this TODO:

[code]

[2022-02-13 21:49] samreid commented on #9
We added class descriptions, and will try to keep them updated as we go, closing.

[2022-02-13 21:49] #9 closed

[2022-02-13 21:51] samreid commented on #8
Fixed as prescribed, closing.

[2022-02-14 16:26] samreid commented on #12
@chrisklus and I were wondering if the feet should be flat, for consistency in the perspective, since we changed the perspective so the balls are on top of the ground.

[2022-02-14 19:43] amanda-phet commented on #25
I am OK with either of the following options:
(1) Kick ≤5 depending on how many have been kicked in total, and keep the label as "Kick 5" (similar to Plinko)
(2) Gray out the "Kick 5" button if <5 balls are remaining

[2022-02-14 19:44] amanda-phet commented on #25
Assigning others to get input on which direction to go.

[2022-02-14 19:48] amanda-phet commented on #12
This is not a final image. Mariah is aware of our perspective constraints and will be working on making these look perfect in the final version!

[2022-02-15 11:58] samreid commented on #10
Implemented basic support in the commits.  @chrisklus can you please review?  Or we can pair review during pairing.

[2022-02-15 12:10] samreid commented on #25
Since "Kick 5" kicking 2 balls feels buggy and may be perceived as buggy, I decided to implement the "(2) Gray out the "Kick 5" button if <5 balls are remaining" strategy so we could test it out.  It will be easy to revert if we decide against it.

[2022-02-15 12:55] samreid opened #29 "Add dragIndicatorArrowNode"
From the mock-ups:

<img width="92" alt="image" src="https://user-images.githubusercontent.com/679486/154065907-5753e74e-bf24-4134-b7a5-1544c9d15821.png">

I implemented this, but there were enough questions that I decided to add it here as a patch for pair review before committing:

<details>

[code]

</details>

<img width="1070" alt="image" src="https://user-images.githubusercontent.com/679486/

[2022-02-15 12:58] samreid opened #30 "The girl is 12' 6" tall"
We changed the units to meters, but didn't adjust the size of the artwork.  From the picture in https://github.com/phetsims/center-and-spread/issues/29#issue-1138655420, I estimated that the girl is around 12 feet 6 inches tall.

@arouinfar can you please advise?

[2022-02-15 13:02] samreid commented on #30
Also, the ball is measured at 63cm diameter, but should be around 22cm diameter (if it were to scale).

[2022-02-15 16:10] samreid opened #31 "Should the cursor be a hand or left-right arrow for the cards?"
Should the cursor be a hand or left-right arrow for the cards?  It's currently a hand but we can make it be a left-right arrow if that's preferable.  It can only drag left and right, so that seems reasonable, but also the hand seems like a natural default.

[2022-02-15 16:11] arouinfar commented on #30
I'm guessing this was a mis-tag, but sims that switch between units for localization reasons (such as Unit Rates switching between kg and lbs) don't actually convert values. Not sure if that is at all relevant to this sim, but there is precedent elsewhere for simply treating the unit as a label.

[2022-02-15 16:43] #10 closed

[2022-02-15 16:44] samreid commented on #12
We added the initial images.  Awaiting the next set.

[2022-02-15 16:48] samreid opened #32 "State wrapper reports: PhetioStateEngine.js? [sm]:244 pass: 14, keys.length = 20, keys ="
assert.js:34 enabling assert
assert.js:34 enabling assert
assert.js:34 enabling assert

PhetioStateEngine.js? [sm]:244 pass: 14, keys.length = 20, keys = centerAndSpread.spreadScreen.view.soccerPlayerNodeGroup.soccerPlayerNode_0.visibleProperty,centerAndSpread.spreadScreen.view.soccerPlayerNodeGroup.soccerPlayerNode_1.visibleProperty,centerAndSpread.spreadScreen.view.soccerPlayerNodeGroup.soccerPl

[2022-02-15 16:48] samreid commented on #29
Needs to be instrumented for the state wrapper.

[2022-02-15 16:49] samreid commented on #26
We co-reviewed this, closing.

[2022-02-15 16:49] #26 closed, assigned to chrisklus

[2022-02-15 16:50] samreid commented on #30
Sorry for the mis-tag!

[2022-02-15 17:45] chrisklus opened #33 "Median bar styling"
[Sam Reid](https://app.slack.com/team/U6DKKJ2FN)  [9:52 AM](https://phetsims.slack.com/archives/C02P1FZMVK9/p1644943934083119)
The mockup shows this sometimes as a join line and sometimes as a split line.  What do you recommend?
[9:52]
![image](https://user-images.githubusercontent.com/5618316/154118672-289bc9be-ef4b-4336-a62c-34f1e77dd7fe.png)

[9:52]
![image](https://user-images.githubuserconten

[2022-02-15 18:21] chrisklus commented on #33
@samreid and I met with @amanda-phet over zoom and showed the following 3 dev versions:

one median marker: https://phet-dev.colorado.edu/html/center-and-spread/1.0.0-dev.2/phet/center-and-spread_en_phet.html
split median marker: https://phet-dev.colorado.edu/html/center-and-spread/1.0.0-dev.3/phet/center-and-spread_en_phet.html
split median marker + dropped bars: https://phet-dev.colorado.edu/htm

[2022-02-15 18:21] #33 closed

[2022-02-15 19:23] ariel-phet commented on #25
Just as a thought we could also go with something more ambiguous like "Kick Many" and have it kick 5 at a time, and then if less than 5 left it still kick the remaining ones. But graying out the button also seem reasonable if there are not 5 left to kick.

[2022-02-15 21:06] samreid commented on #25
Here's a mock-up of Kick 1 vs Kick Many:

![image](https://user-images.githubusercontent.com/679486/154148982-6544b764-5c29-4844-bfb7-2b75e268a8ad.png)

[2022-02-15 23:10] samreid commented on #29
In testing with family members, I saw one family member click on a card but not drag it.  It dismissed the drag indicator arrow but she still didn't know the card was draggable.

[2022-02-16 19:27] amanda-phet commented on #25
Discussed 2/16/22. @kathy-phet and I like the options I presented in https://github.com/phetsims/center-and-spread/issues/25#issuecomment-1039483200 but @samreid and @chrisklus want to try this option:

[2022-02-16 19:28] amanda-phet opened #34 "Holding "kick 1" should fire multiple times"

[2022-02-16 19:42] amanda-phet commented on #29
Discussed 2/16/22.

Let's try having the arrow above the first card, and also a different color (something like blue might help, with a slight stroke).

Other cueing arrows seem to have a slight stroke around the arrow (Molecule Polarity and Geometric Optics)- this is inconsistent and some sims don't use stroke around the arrows.

[2022-02-16 19:45] amanda-phet commented on #29
To address the concern about the arrow being dismissed prematurely, we'd like the arrow to still be visible until the user has dragged a card 15 pixels (or 1.5x the spacing between cards).

[2022-02-16 19:46] amanda-phet commented on #29
Clicking "erase" should not reset the arrow- if the arrow has been dismissed it shouldn't appear again until clicking reset-all.

[2022-02-16 19:52] amanda-phet commented on #30
Ideas that were discussed in 2/16/22:
- keep it the same, since this is something people might not notice
- reduce the scale of the person and ball to be more appropriate
- change the units to feet (but a translator could still make it meters)
- remove units

We decided to keep it as-is for now. If a student notices the scaling, that's great reasoning on their part! But we are ok with the scale be

[2022-02-16 19:52] #30 closed

[2022-02-16 19:52] samreid opened #35 "Add colors to the color editor"
Add colors to the color editor

[2022-02-16 20:04] amanda-phet commented on #31
Discussed 2/16/22:

- there is a precedent for using an arrow cursor for some things (Geometric Optics, Neuron, Make a Ten) to distinguish an interaction
- The hand is a dramatic change from an arrow, and the arrow cursor is kind of small, so the hand offers more contrast
- hand is kind of inviting
- If students really struggle with the left-right action, it might be worth considering the arrow cu

[2022-02-16 20:04] #31 closed

[2022-02-17 03:44] samreid commented on #25
@chrisklus and I added prototype code for the "Kick N" button so the team can see how it behaves.  If we agree it's for the best, we would probably improve some of this code and add i18n.

We also felt it odd to see 2 grayed out "Kick 1" buttons when all balls are depleted, so we tried making the buttons invisible instead of disabled and it seemed like an improvement.  So that's also in this versi

[2022-02-17 16:43] KatieWoe opened #36 "CT all descendants must be disposed by the next frame"
[code]

[2022-02-17 17:29] ariel-phet commented on #25
The current solution seems to work well to me. Seeing Kick 1 and Kick 1 together is not confusing if you have seen the "multiple kicks button" count down, and as you pointed out will be fairly rare.

[2022-02-21 16:25] samreid opened #37 "Consistent use of colors, like 'white' vs Color.WHITE"
The sim currently has inconsistent use, with `'white'` and `Color.WHITE` appearing even in the same file.  It doesn't seem like there is a convention for this across the project--more like developer preference.  But the sim should be internally consistent.

We also talked about ColorDef may one day want to support a string literal union of supported string types.  That may encourage us to go the s

[2022-02-21 16:52] samreid opened #38 "Left edge of card view seems crowded when median bars are on"
Left edge of card view seems crowded when median bars are on

<img width="247" alt="image" src="https://user-images.githubusercontent.com/679486/154997778-aaa744d0-5a39-4c4f-b5ed-ee66d296b3b7.png">

[2022-02-21 16:53] samreid commented on #38
@chrisklus also pointed out that the card edges and the median bars:

<img width="283" alt="image" src="https://user-images.githubusercontent.com/679486/154997920-e9b0d8e8-2928-4831-9074-3b7af0959828.png">

[2022-02-22 18:01] samreid opened #39 "How should it look if the mean and median prediction indicators are at the same location?"
If the user wants to predict the mean and the median are the same value, how should it look?  Should we make one handle larger?  Right now one completely obscures the other.

[2022-02-22 18:10] amanda-phet commented on #39
What do you think about allowing them to be at the same location? We did that in NLD. See the generic screen, and how you can overlap two points/handles: https://phet.colorado.edu/sims/html/number-line-distance/latest/number-line-distance_en.html.

[2022-02-22 18:19] samreid commented on #39
@chrisklus and I reviewed number line distance, and it does not seem like an optimal user experience that one can completely obscure the other.  What do you think about having one handle longer than the other (by one sphere diameter), so you can always see and drag both?

[2022-02-23 20:09] amanda-phet opened #40 "Add query parameter/preferences option for "line plot""
We need a query parameter and preferences dialog option for line plot. This must do two things:
1. Change all filled circles in the dot plot to be x's
2. Change the title of the accordion box to be Line Plot

![image](https://user-images.githubusercontent.com/7852916/155399453-94b44732-d75e-4a1b-a0cb-c79a33b8d4c1.png)

I'm not sure what the query parameter should be- boolean? `linePlot=true`? I'm

[2022-02-23 20:24] kathy-phet commented on #40
Maybe it should be an enum in PhET-iO? Some thoughts
query:
plotType="dotPlot" plotType="linePlot"

enum:
plotType="LINEPLOT" "DOTPLOT"

[2022-02-23 23:03] samreid opened #41 "Design Meeting Requests from Feb 23, 2020"
- [x] Top (dotplot dot) object shouldn't be highlighted when the median is selected below.
- [x] Mean (purple) predictor dragging should be continuous.
- [x] Put purple predict checkbox first
- [x] Say predict mean and predict median in the checkbox labels
- [ ] ~Moved to another issue~ #42
- [x] The mean checkbox icon should have a bar, like in the mockups
- [x] Get rid of the median bar icon in

[2022-02-24 02:45] samreid commented on #40
How about `?plotType=line` with the default being `dot`.  Then we will match the PhET-iO interface accordingly.

[2022-02-24 03:24] kathy-phet commented on #40
I think we need to say "linePlot" in the choice. Because just "line" is too confusing all by itself.

We could say ?plotMarker=dot or ?plotMarker=cross, but its more aligned with the math resources/pedagogy to use linePlot and dotPlot.

[2022-02-24 04:09] samreid opened #42 "Need to figure out how to allow mean/median prediction markers to be in same location and not completely occlude the other"

[2022-02-25 04:04] samreid commented on #11
Can you please provide tables in the form:

[code]

We will assert that it has the right number of entries, and we will normalize it.  And my understanding is that we will use it as a probability distribution rather than exact ratios, is that correct?

[2022-02-25 18:20] chrisklus opened #43 "Make start-up ball full opacity. Make to-be-kicked ball after the start up be different (leading idea is lower opacity). Goals - still something to kick, but distinguishable from the set."

[2022-02-25 19:01] chrisklus commented on #43
@samreid and I completed this in the commit above. @amanda-phet would like to review here? https://phet-dev.colorado.edu/html/center-and-spread/1.0.0-dev.8/phet/center-and-spread_en_phet.html

[2022-02-25 19:04] chrisklus commented on #41
@amanda-phet All items except the ones that were moved to separate issues are ready for review if you'd like to take a look! https://phet-dev.colorado.edu/html/center-and-spread/1.0.0-dev.8/phet/center-and-spread_en_phet.html

[2022-02-25 19:05] samreid commented on #25
Nobody mentioned a problem with this during the last design meeting.  Perhaps it is OK?  If not, please reopen.

[2022-02-25 19:05] #25 closed

[2022-02-25 19:37] samreid opened #44 "Animation for the median in the dot plot"
Add Animation for the median in the dot plot

[2022-02-25 20:28] amanda-phet commented on #25
I should have replied here that it's fine with me if others are happy with it.

[2022-02-25 20:29] amanda-phet commented on #42
This is a duplicate of https://github.com/phetsims/center-and-spread/issues/39. Should we close this?

[2022-02-25 20:31] amanda-phet commented on #43
This is definitely looking better to me!

[2022-02-25 21:19] chrisklus commented on #11
From 2/25 design meeting:

@amanda-phet will get the latest values on March 1st, but provide sample data on the 28th in the above form.

[2022-02-25 21:22] chrisklus commented on #12
From 2/25 design meeting:

@amanda-phet will export what she has and maybe we'll get more before the 4th.

[2022-02-25 21:23] chrisklus commented on #17
From 2/25 design meeting:

We would like this by the 4th.

[2022-02-25 21:33] chrisklus opened #45 "Address 26 TODOs in code"

[2022-02-25 21:33] chrisklus opened #46 "Address UX related TODOs in code"

[2022-02-25 21:39] chrisklus commented on #40
This is needed for March 4th - at the least, dots should be rendered as X's instead of dots.

[2022-02-25 21:47] chrisklus commented on #24
For March 4 delivery, it is medium (nice to have) for one type of animation, like the wave.

[2022-02-25 22:16] chrisklus commented on #35
I think most of the colors are in the color editor. I will double check to see if anything should be added before @amanda-phet  finalize the colors.

[2022-02-25 22:57] chrisklus commented on #35
I added one above for the drag indicator. I think we're set here. @samreid and I have started a habit of adding new colors to the CASColors so I'm going to close.

[2022-02-25 22:57] #35 closed

[2022-02-25 23:12] chrisklus opened #47 "Update the colors"
From February 16th design meeting:

@amanda-phet the colors have been added to the color profile over in https://github.com/phetsims/center-and-spread/issues/35

Here is the link for adjusting these on phettest:
https://bayes.colorado.edu/dev/phettest/phetmarks/color-editor.html?sim=center-and-spread&brand=phet

Please assign back to @samreid and me when you have a list of colors for those color n

[2022-02-25 23:17] chrisklus opened #48 "Need to polish arrow within constraints of common code (head width, tail width, head height)"
From design meeting 2/16:

@samreid and I mentioned that the triangle style is the only "built in" arrow type, but we can certainly make new arrows if the "line" type is desirable.

Assigning to @amanda-phet to specify tweaks or design changes for the various arrow heads used in the sim. Maybe it would be nice to do this with @samreid and @chrisklus driving for the small adjustments needed for arr

[2022-02-26 00:12] chrisklus opened #49 "Improve ball landing on field animation"
From design notes:

When a ball lands, it looks like it jumps to the top of the stack, which looks strange, and we are wondering if the ball should land at the bottom of the stack and have the stack smoothly animate up.

CK: animations ideas for ball landing to fix the “jumping to top” visual effect:

1. jump before landing - the stack slides up while ball is almost there so there is room for ball

[2022-02-26 00:25] chrisklus opened #50 "Float accordion box to stay right below the question bar"
@amanda-phet feel to adjust priority if you would like.

[2022-02-26 00:37] chrisklus opened #51 "Design meeting requests from February 16 and before"
Immediate dev work:

- [x] #54

Remaining design considerations that have no current action items:

Should the cards get a visual indicator like the balls, such as an orange stroke around them?
There are other visual indicators on cards, so we’d want to make sure it all works together

Accordion box is currently looking large on Median screen
Waiting to see how large this is after other screens ha

[2022-02-26 01:04] samreid opened #52 "The dots in the dot plot should not be draggable"
A few days ago I inadvertently tried to drag a dot in the dot plot, to change its location (even though I know they are designed to not be draggable).  Today, @chrisklus did the same thing.  Here are the notes from the design doc:

“dot plot interactive”
“Dot plot draggable”
“Dot plot not draggable”

I think it is about the data flow--that the soccer balls determine the location of the dots and no

[2022-02-26 01:04] #52 closed

[2022-02-26 02:07] chrisklus commented on #44
I think this is ready for review on phettest!

[2022-02-26 18:20] samreid commented on #11
I added a sampling algorithm that is ready to use data in the form described in https://github.com/phetsims/center-and-spread/issues/11#issuecomment-1050500778

[2022-02-26 18:23] samreid commented on #20
@chrisklus is anything else necessary here for the classroom prototype?

[2022-02-26 18:33] samreid commented on #36
Fixed as part of https://github.com/phetsims/center-and-spread/issues/32, closing.

[2022-02-26 18:33] #36 closed

[2022-02-26 18:55] samreid commented on #46
I triaged TODOs and labeled TODO-UX accordingly.  Note some are already TODO-DESIGN which I did not change.

[2022-02-26 18:56] samreid commented on #28
@amanda-phet what is necessary for this issue for this week's sprint?

[2022-02-26 20:09] samreid commented on #34
I added this support, but could use help because in some runs, holding down the Kick 5 button doesn't deplete all the kickers.

[2022-02-26 20:10] samreid commented on #42
Closing as duplicate.

[2022-02-26 20:10] #42 closed

[2022-02-26 20:10] samreid commented on #39
We discovered this problem is somewhat less severe now that the mean predictor is continuous.  So they can be nearby without being on exactly the same spot.

[2022-02-26 20:33] samreid commented on #29
This issue is ready for code review or co-review with @chrisklus and ready for design feedback and color tuning by @amanda-phet

[2022-02-26 20:36] samreid commented on #40
It also sounded like for the upcoming milestone, the "x"s should be the default.

[2022-02-27 03:44] samreid commented on #40
Implemented above.  Would be good to check in with @chrisklus before getting design team feedback.

[2022-02-27 17:57] samreid commented on #43
Can this issue be closed?

[2022-02-27 18:50] chrisklus commented on #20
@samreid and I reviewed together and we think this issue is complete for all 4 screens, closing.

[2022-02-27 18:50] #20 closed

[2022-02-27 18:58] chrisklus commented on #40
@samreid and I reviewed the commits together and agree this was in good enough shape for an initial review from @amanda-phet. We didn't want to spend time pixel polishing without showing you first. Note that they can be changed from the Options dialog in addition to the query parameter.

[2022-02-27 19:30] chrisklus commented on #29
@samreid and I reviewed together, did a couple pixel polishes, and added a TODO. We think this is ready for review by @amanda-phet.

[2022-02-27 19:37] samreid commented on #32
This is not a problem at the moment, closing.

[2022-02-27 19:37] #32 closed

[2022-02-27 20:23] chrisklus commented on #46
@samreid and I reviewed all of the TODO-UX and TODO-DESIGN, and fixed all critical ones that weren't part of other issues. Closing this issue, as the remaining TODOs can be tracked in and at the priority of  https://github.com/phetsims/center-and-spread/issues/45

[2022-02-27 20:23] #46 closed

[2022-02-27 20:52] chrisklus opened #53 "Multi-kick animation"
Will it be important to show the next kicker in a standing pose at the front of the line before they have their leg out? For fire-on-hold and kick 5, we currently just show the next person with their leg out when they reach the front of the line.

We think it will be easier to judge how natural the current implementation vs the above behavior feels once their is varied player artwork.

[2022-02-27 20:55] chrisklus commented on #34
@samreid and I decided that we would try turning off fire-on-hold for "Kick 5", as enabling it felt like nested multi-kicking, which seems weird.

@amanda-phet this is ready for review, and please note the related question over in https://github.com/phetsims/center-and-spread/issues/53.

[2022-02-27 21:01] chrisklus opened #54 "grass height needs to be polished"

[2022-02-27 21:10] samreid commented on #54
@chrisklus and I fixed this, @amanda-phet would you like any adjustments?

[2022-02-27 21:18] samreid commented on #38
@chrisklus and I adjusted the margins and it seems better.  Anyone else can reopen if it comes up again.  Closing.

[2022-02-27 21:18] #38 closed

[2022-02-27 21:25] samreid commented on #50
To me, this sim seems like we should just use the dev bounds.  If we float things to the top or side in portrait, things will get very far away and it will seem awkward.

@chrisklus says: Using some of that vertical height in portrait could make it so we don't need to have soccer balls go behind the accordion box.  It feels more natural for phone layout and I'm not worried about things being far a

[2022-02-27 21:26] samreid commented on #48
UPDATE: @chrisklus and I decided to put this at low for now.  @amanda-phet please adjust as desired.

[2022-02-28 14:48] amanda-phet commented on #50
This is what I thought we were imagining in a narrow scenario:
![image](https://user-images.githubusercontent.com/7852916/156003315-759e255e-bcee-48da-8119-859138d6cbef.png)

So, lots of sky, not lots of grass. Is this possible to do?

[2022-02-28 15:15] amanda-phet commented on #43
I thought we reviewed it Friday so yes it can be closed.

[2022-02-28 15:15] #43 closed

[2022-02-28 15:19] amanda-phet commented on #40
The x's could probably use a little polishing- it would be nice if they still looked countable even with a tall stack. For example, at 12, it is hard to tell that there are 4 x's.
![image](https://user-images.githubusercontent.com/7852916/156008287-e057a9cf-8d8e-4607-b6b9-8b04efe7bec3.png)

Can you keep the position of the x so that it's still in the center of where a dot would be, but make the ar

[2022-02-28 16:37] KatieWoe opened #55 "CT x should be a finite number"
[code]

[2022-02-28 16:50] samreid commented on #40
I addressed the requests above.  At the moment, we are using Font Awesome to render the "x" marks.  I reduced their scale to 0.8 for now.  Let me know if we should make further adjustments, or if we need more control over the "x" rendering.  @amanda-phet can you please review?

[2022-02-28 16:54] amanda-phet commented on #40
The x's look really good to me! Should I open another issue about the tick marks?

[2022-02-28 17:12] samreid commented on #40
Yes, please.  Thanks!

[2022-02-28 17:29] amanda-phet opened #56 "Make tick marks only visible below chart"
Noticed in https://github.com/phetsims/center-and-spread/issues/40 that the tick marks could use some refinement.

Something like this would be nice:

![image](https://user-images.githubusercontent.com/7852916/156008697-b61b2d2f-46e8-42fa-95a5-bcacd4d16c9e.png)

[2022-02-28 17:29] amanda-phet commented on #40
OK, we can close this issue now.

[2022-02-28 17:29] #40 closed

[2022-02-28 18:25] chrisklus commented on #56
@amanda-phet would you like this for the dots as well? (that would then be consistent across all types - soccer balls, ticks marks, and dots)

[2022-02-28 18:28] chrisklus commented on #50
Yes, that's what I remember as well. I'd like to try it out before considering a different direction.

[2022-02-28 19:05] samreid commented on #56
We completed this in https://github.com/phetsims/center-and-spread/issues/40, @amanda-phet can you please review?

[2022-02-28 21:10] amanda-phet commented on #44
I like it a lot! I checked both the dot plot and the line plot and both seem really nice to me.

[2022-02-28 21:10] #44 closed

[2022-02-28 21:11] amanda-phet commented on #53
Agreed, let's see how it looks once we have the 4 new people added.

[2022-02-28 21:12] amanda-phet commented on #34
This is working for me.

I think once we implement the new artwork and address #53 we might want to implement the same solution for artwork for kick 5 as we do for holding kick 1.

[2022-02-28 21:12] #34 closed

[2022-02-28 21:18] amanda-phet commented on #29
Looks good to me. I am having trouble confirming some of the desired behavior because even though I cleared my cache, erase/reset causes the sim to freeze for me. I will have to follow-up with this later, perhaps after a dev version is published.

[2022-02-28 21:25] chrisklus commented on #29
The freeze is related to https://github.com/phetsims/center-and-spread/issues/55, checking

[2022-02-28 21:27] amanda-phet commented on #39
Ideas that have been discussed are:
* Make the handles different lengths
* Make the handle weights different so that when they overlap, the thicker one is always visible behind the thinner one
* Making sure that the "active" handle is always on "top" of the other one. It is weird that the mean handle is always in the back, and difficult to grab if you just dropped it behind the median one

I don't

[2022-02-28 21:28] amanda-phet commented on #56
Looks great to me. Thanks!

[2022-02-28 21:28] #56 closed

[2022-02-28 21:35] amanda-phet commented on #54
I'm not exactly sure what polish happened here, but the grass seems fine to me in the dev bounds. It's a little taller than the mockup, but I don't think we need to make it shorter until/unless we update the appearance of the predict markers.

When the browser is narrow, though, I think the grass takes up too much height (as noted in https://github.com/phetsims/center-and-spread/issues/50).

[2022-02-28 21:35] #54 closed

[2022-02-28 21:43] amanda-phet commented on #28
I'm actually not sure why this was added to the prototype milestone. Since this is about the Spread screen, I think we can get to this after the sprint.

[2022-02-28 21:46] amanda-phet commented on #24
We discussed this briefly on 2/25/22 and decided to pick the one from the list that seems easiest to implement. I like options 1,2, and 7 the best.

[2022-02-28 22:31] chrisklus commented on #55
Thanks @KatieWoe! This should be fixed, I'll wait for CT to confirm.

[2022-02-28 22:34] chrisklus commented on #29
Ok #55 should be all set, ready for @amanda-phet to continue testing on [phettest](https://bayes.colorado.edu/dev/phettest/center-and-spread/center-and-spread_en.html?ea&brand=phet).

[2022-02-28 22:43] chrisklus commented on #17
This is ready for an initial review by @amanda-phet.

We are currently animating each sort step for .5 seconds, and then pausing for .2 seconds between each sort. Without the pause, it felt difficult to see what was happening. Looking at it a bit more now, it seems like it might be nice to have the cards move at more of a consistent speed than a consistent time per step, as cards that go far dista

[2022-03-01 16:06] samreid commented on #55
I saw a similar/related symptom in the latest CT column:

[code]

[2022-03-01 16:16] samreid opened #57 "Update documentation locations"
For https://github.com/phetsims/chipper/issues/1201, update the doc locations.

[2022-03-01 16:33] amanda-phet commented on #41
All of these look good to me!

[2022-03-01 16:33] #41 closed

[2022-03-01 16:37] amanda-phet opened #58 "Edge cases to consider"
Should the median arrow be layered on top of the accordion box like this? It seems like strange layering, but given the scenario below, I also wonder if we don't want that to be fully hidden.
![image](https://user-images.githubusercontent.com/7852916/156209721-7d15bc22-53c7-476c-9df0-20e0eb6a1f38.png)

When the dots are cropped by the edge of the accordion box, we also lose the median indicator. S

[2022-03-01 16:42] amanda-phet commented on #17
I would like to consider making this overall much faster.. so maybe the sort step is .3 seconds and the pause is .1 seconds. Should we look at this during Wednesday's meeting?

I didn't find it too hard to track, but I'm also good with trying this out.

I also want to look at the sorting algorithm again... right now it seems to move left to right and put each card in order in that way. I would ide

[2022-03-01 16:45] amanda-phet commented on #29
Confirmed that it's behaving properly with erase and reset-all. Thanks!

[2022-03-01 16:45] #29 closed

[2022-03-01 19:15] samreid commented on #53
We started implementing this as part of https://github.com/phetsims/center-and-spread/issues/12

[2022-03-01 21:07] chrisklus opened #59 "Internal changes for kicker animations"
From work in https://github.com/phetsims/center-and-spread/issues/12 and https://github.com/phetsims/center-and-spread/issues/53, we have some TODOs in code that point to those issues and since we might close those soon, @samreid and I are pointing the remaining TODOs here.

[2022-03-01 21:11] chrisklus commented on #53
This is ready for review!

[2022-03-01 22:19] chrisklus commented on #17
I committed this change above, and it's visible in the following screen recording.

Oops, yes we definitely were thinking that originally but accidentally implemented a different sort method.

One thing we discovered that we wanted to point out that might be an issue (for the existing sort and the sort that it should be) is in cases like this:

https://user-images.githubusercontent.com/5618316/156

[2022-03-01 23:16] samreid commented on #17
Let's discuss whether the desired behavior is acceptable before working more on the implementation.  We can always do the all the cards move at once" strategy we started with.

[2022-03-01 23:54] samreid commented on #24
I have a rough draft for this issue, not committed yet.

[2022-03-02 05:12] samreid commented on #24
This is ready for team feedback at design meeting.

[2022-03-02 05:54] samreid commented on #49
We tried adjusting the opacity--making the stack transparent except for the ball that landed at the bottom.  Perhaps it was a minor improvement but there was so much noise especially when several balls landed in the same stack around the same time, it would take more effort to make it production worthy:

<details>

[code]

</details>

[2022-03-02 05:58] samreid opened #60 "Sometimes there is an unkickable ball"
<img width="1052" alt="image" src="https://user-images.githubusercontent.com/679486/156304014-c218fc4d-609f-4b00-aed4-758e0c48517d.png">

[2022-03-02 18:04] samreid commented on #49
@chrisklus and I implemented a strategy that animates the stack above the landed ball, and it seems to be working nicely.  We are ready for design team feedback.

[2022-03-02 18:59] samreid commented on #60
After the commit, we have not been able to reproduce this problem.  Closing.

[2022-03-02 18:59] #60 closed

[2022-03-02 19:03] samreid commented on #55
Fixed, closing.

[2022-03-02 19:03] #55 closed

[2022-03-02 19:15] samreid opened #61 "Artwork for homescreen icons and navbar icons"
We need Artwork for homescreen icons and navbar icons

[2022-03-02 19:17] chrisklus commented on #53
From having this be in the sim for a little while, I've been noticing that the single kick animation feels acceptable, though could maybe be improved with the timing of the leg (the kicking leg gets ahead of the ball). The multikick animation feels a bit jerky to me still. I'm not sure much can be done here, but wanted to note that it has felt a bit distracting and out of place with the rest of th

[2022-03-02 19:36] amanda-phet commented on #17
Discussed 3/2/22 and decided it's probably not worth the time investment to continue refining a sort that is a more "pedagogical" approach. Instead we would like to revert back to the previous sort, which was quick and clear and looked nice.

[2022-03-02 19:55] amanda-phet opened #62 "Move predict and shift group down"
Move predict checkboxes above the Mean/Median checkboxes, and shift the entire group down so it's just above the grass.

[2022-03-02 19:57] amanda-phet opened #63 "Change range to 15"
The range has been discussed in previous issues, but for space concerns we think making the range 1-15 would still provide the flexibility needed for showing a skewed distribution and would provide more space on the right side of the sim.

[2022-03-02 19:57] amanda-phet commented on #63
And leave the current spacing between tick marks the same as it is now.

[2022-03-02 20:03] amanda-phet commented on #24
These look great!

We'd like a message that is centered above the cards (similar to where the Median label is), in a rectangle (maybe with a rainbow gradient stroke?), that is layered behind the cards if they are jumping in a wave.

The message can be visible for 2 seconds, to start, and we can tweak it later.

[2022-03-02 20:15] amanda-phet commented on #53
Discussed 3/2/22 and decided to reduce the time spent in "standing" before "kicking." I will review on my computer before closing, just to be sure I like it.

[2022-03-02 20:16] amanda-phet opened #64 "Make ball full opacity once kicker is "poised to kick""

[2022-03-02 21:25] chrisklus commented on #64
I renamed the issue based on my understanding from discussion in design meeting + the name changes of the kicking images.

[2022-03-02 22:45] amanda-phet commented on #53
I'm liking this change, and like how quickly a ball is kicked and in motion after pushing the "kick 1" button.

[2022-03-02 22:45] #53 closed

[2022-03-02 22:52] amanda-phet commented on #12
I have the new images ready, so please let me know when you've updated the file names and are ready for me to commit new images.

[2022-03-02 23:19] samreid commented on #12
I'll start renaming the existing ones now.

[2022-03-02 23:20] samreid commented on #12
From slack, @amanda-phet said:

@chrisklus said:

[2022-03-02 23:25] samreid commented on #12
I had to commit the renames in 2 batches since there was overlap.  It should be ready for @amanda-phet to add the new images.

[2022-03-02 23:26] amanda-phet commented on #11
Please use these two distributions for both the Median and Mean & Median screens (randomly chosen when the sim/screen starts, and reset):

skewed left: `[0.01832,0.07326,0.14653,0.19537,0.19537,0.15629,0.1042,0.05954,0.02977,0.01323,0.00529,0.00192,0.00064,0.0002,0.00007]`

skewed right: `[0.00007,0.0002,0.00064,0.00192,0.00529,0.01323,0.02977,0.05954,0.1042,0.15629,0.19537,0.19537,0.14653,0.07326

[2022-03-02 23:38] samreid commented on #63
I decreased the range to 15 since it was required for https://github.com/phetsims/center-and-spread/issues/11, but I have not changed the spacing yet.

[2022-03-02 23:49] samreid commented on #11
I added the prescribed distributions, flip it in the code, and choose randomly on startup and reset all (but not when the eraser is pressed).  Ready for review.

[2022-03-02 23:52] samreid commented on #64
In 50086ab2034e9c2f3db8ee9f13aa5204ce8502a3 we reduced the "poised to kick" time from 0.3 seconds to 0.075 seconds, so it is difficult to see this problem.  Does it still warrant effort for this sprint or for the 1.0 production publication?

[2022-03-02 23:58] samreid commented on #62
Fixed, @chrisklus please code review and @amanda-phet please review the behavior.

[2022-03-02 23:58] amanda-phet commented on #64
That is a good point @samreid , it's not a problem anymore. I'm fine not making this change at all, either for the classroom prototype or 1.0 publication.

[2022-03-02 23:58] #64 closed

[2022-03-03 00:09] samreid commented on #63
It felt like one of the motivating factors for this issue was so there would be more room for the checkbox panel.  But the checkbox panel was spaced based on the right edge of the number line.  So I changed it to use the right edge of the layout bounds, so there would be more space.  If that wasn't intended for the design, please let me know and it can be reverted.

Ready for code and design revie

[2022-03-03 00:17] amanda-phet commented on #11
I'm not getting the effect I would like to see with this distribution. Would you mind using this instead? (Otherwise happy with the behavior!)

`[4, 8, 12, 16, 13, 11, 9, 7, 6, 5, 4, 3, 1, .5, .5]`

[2022-03-03 00:29] amanda-phet commented on #12
@samreid I've uploaded the new image files. Please let me know when it's ready to review!

[2022-03-03 00:34] amanda-phet opened #65 "Change default plot type to line plot"
For the purposes of the classroom pilot, I'd like the default plot type selection to be Line Plot. We may change this for 1.0, but would like this for the prototype.

![image](https://user-images.githubusercontent.com/7852916/156473324-c43056f0-36d3-4c42-8906-3a026ea8815f.png)

[2022-03-03 01:02] chrisklus commented on #63
Haha this our first issue that we both completed separately, not bad! I should have communicated earlier when i started on it, oops. But we both landed on 207, which is great news.

[2022-03-03 03:32] samreid commented on #65
Fixed and ready for review.

[2022-03-03 03:34] samreid commented on #12
@chrisklus do you want to make any adjustments or do code review before we send this to @amanda-phet?

[2022-03-03 03:35] chrisklus commented on #62
Looks good, thanks!

[2022-03-03 03:44] amanda-phet commented on #47
- [ ] To improve contrast with the grass and sky, the arrows in the play area for mean and median, as well as the predict mean/median markers, will need a thin black stroke around them. I'll make a separate issue for this since it will relate to the arrow design as a whole.
- [ ] For the sky gradient, I thought there was a standard "PhET sky gradient" pattern. I looked at Projectile Motion and tha

[2022-03-03 03:52] amanda-phet opened #66 "Polishes to arrows in play area"
Polishes relating to https://github.com/phetsims/center-and-spread/issues/47

- [ ] add a thin stroke around all arrows in the play area (mean, median, and prediction arrows) - I'm using 0.25pt, if you can match something that thin
- [ ] If you can do 0.25pt, can we do the same on the sort cueing arrow on Median? I'm not sure how thin we can go but seems like we should be consistent for all stroke

[2022-03-03 03:56] samreid commented on #17
I reverted the sort to all cards at once, @amanda-phet can you please review?  Please close if all is well.

[2022-03-03 04:04] samreid commented on #11
I updated the distribution, ready for testing.

[2022-03-03 04:09] samreid commented on #24
It sounded like @chrisklus wanted to write the first draft for this, self-unassigning.

[2022-03-03 04:41] samreid opened #67 "Increase TIME_BETWEEN_RAPID_KICKS"
At today's design meeting, we reduced the time of the "poised to kick" pose, which looks great!  Afterwards, @chrisklus pointed out that means the "Kick 5" now happens too quickly and it is confusing what is happening.  We proposed to increase the `TIME_BETWEEN_RAPID_KICKS`.  We'll commit a proposal for review and discussion.  We also noted this timing better matches the "autofire" press and hold

[2022-03-03 04:41] samreid commented on #67
Fixed in the commit and seems to be working nicely.  @amanda-phet can you please review and advise?  Close if all is well.

[2022-03-03 04:48] samreid opened #68 "Change player spacing"
Related to https://github.com/phetsims/center-and-spread/issues/12, @chrisklus and I adjusted the spacing between the soccer players, and we accidentally tried a spacing that put the second and later soccer players offscreen.  However, it looked very clean and amazing.  Here's an example of how it looked:

<img width="611" alt="image" src="https://user-images.githubusercontent.com/679486/156497935

[2022-03-03 06:38] chrisklus opened #69 "Review i18n"
@samreid and I should check in on translated string usage and max widths for strings

[2022-03-03 06:39] chrisklus commented on #63
Code changes look good, leaving assigned for @amanda-phet.

[2022-03-03 06:42] chrisklus commented on #69
Patch for starting some checkbox changes:

<details>

[code]

[2022-03-03 15:47] pixelzoom opened #70 "CT: mutliple failures"
[code]

[2022-03-03 16:29] amanda-phet commented on #62
Looking good to me, thanks!

[2022-03-03 16:32] amanda-phet commented on #63
The left edge of the number line moved over quite a bit, so I'm not sure we got as much extra space on the right as we were hoping for. Is this because it is based on how much room the players on the left take up?

[2022-03-03 16:33] amanda-phet commented on #17
Looks good. Thanks!

[2022-03-03 16:33] #17 closed

[2022-03-03 16:35] amanda-phet commented on #66
I just realized an issue for arrow polishes was already created in https://github.com/phetsims/center-and-spread/issues/48, so I'll close that one now that I've made this one.

[2022-03-03 16:35] amanda-phet commented on #48
I accidentally opened https://github.com/phetsims/center-and-spread/issues/66 not realizing this was already open.

[2022-03-03 16:35] #48 closed

[2022-03-03 16:36] amanda-phet commented on #65
Perfect, thank you!

[2022-03-03 16:36] #65 closed

[2022-03-03 16:44] amanda-phet commented on #67
Hm, I am playing with all of this now and I thin the time of "poised to kick" is looking too short now, but the increase in time between rapid kicks make the sim feel a bit laggy. Maybe we can tune this together on Friday morning?

[2022-03-03 16:47] chrisklus commented on #12
Thanks @samreid. I raised them slightly. Any higher and the front green foot is in the air. Thanks for updating the image files @amanda-phet!

There are a few to discuss tomorrow for this issue.

[2022-03-03 16:56] samreid commented on #63
Yes, I was surprised to see that the number line was centered instead of us choosing a fixed location for "1", but I wasn't sure what was intended so I left it alone.  @amanda-phet please advise.

[2022-03-03 20:39] amanda-phet opened #71 "PhET-iO needs for classroom prototype"
If possible, we might want the following instrumented so that our partner can build a wrapper around the sim to challenge students to predict where the mean and/or median is, and get feedback about how close they are to the actual value(s).

- [x] instrument values for mean and median
- [x] instrument values for prediction markers

It would be good to consider if this is feasible for the classroom

[2022-03-03 21:51] amanda-phet commented on #63
Centered makes sense, my eye just didn't see it that way. Let's leave this as it is, since it won't hurt to have that extra space on the left when we get to the Spread screen.

[2022-03-03 21:51] #63 closed

[2022-03-03 21:59] amanda-phet commented on #51
The only thing here that I think is worthy of more consideration is the info button to describe mean/median calculations. We have more info buttons coming, so I would like to think about this, because I don't have a design for an info button for this screen. I have added it to my math sim brainstorming agenda and will open an issue when I'm ready with a design.

[2022-03-03 21:59] #51 closed

[2022-03-03 23:12] samreid commented on #71
@chrisklus and I added support in the commit.  Ready for review.

[2022-03-04 01:35] pixelzoom opened #72 "UX for kicking balls"
Over in https://github.com/phetsims/geometric-optics/issues/355, I was asked to take a look at Center and Spread for a specific feature.  While I was doing that....

I really really want to click on the PhET kids, or at least the soccer ball next to them, to kick the ball.  I realize that there are 2 giant "Kick" buttons just below the kids. But I click on the kids every time.  And the buttons are

[2022-03-04 01:42] samreid commented on #66
I implemented all the requests from the top comment.  I used a stroke width of 0.25 but it looks pretty light in the sim:

<img width="447" alt="image" src="https://user-images.githubusercontent.com/679486/156682983-c692e8c8-9b2f-4679-ad9b-4196a5192088.png">

[2022-03-04 01:43] samreid commented on #66
This is 0.5:

<img width="375" alt="image" src="https://user-images.githubusercontent.com/679486/156683115-fbef2255-dc65-4a9c-806b-bc611c2f3e07.png">

It seems more similar to the screenshots above, so I'll go with it for now.

[2022-03-04 01:44] samreid commented on #66
OK ready for review.

[2022-03-04 01:46] samreid commented on #70
Thanks, @chrisklus and I fixed a PhET-iO type and this seems fixed in the latest column.  Closing.

[2022-03-04 01:46] #70 closed

[2022-03-04 02:00] samreid commented on #50
I implemented the floating layout and it is ready for review.

[2022-03-04 03:19] samreid commented on #69
I'll work on this one

[2022-03-04 03:28] samreid commented on #7
Since we changed a button to be dynamic, we need the template.  Then it also made sense to reuse the template for the Kick 1 button, so they match.  So I added kickValue and remove kick1 and kick5.

[2022-03-04 03:29] samreid commented on #69
I relaxed the maxWidth so the fonts weren't staggered, and made the kickValue button a template.  Ready for review.

[2022-03-04 04:42] samreid commented on #37
I saw that we require hex strings, hence it seems acceptable to go all in on strings.  @chrisklus can you please review?  Close if all is well.

[2022-03-04 04:43] samreid commented on #57
We reaffirmed this goal in today's dev meeting.

[2022-03-04 15:30] amanda-phet commented on #72
Thanks for sharing @pixelzoom . We've had a number of discussions about this and have wanted to do exactly what you are trying to do, but there have been some other usability concerns that have come up. If someone can touch/click the person/ball, will they think they can then drag the ball to the grass? The balls are draggable once they've landed, but not before that. I'm also curious what you tho

[2022-03-04 15:40] amanda-phet commented on #58
Discussed 3/4/22 with @chrisklus and @samreid and we'd like the red arrows to float up to a max height. For the arrow and median bar in the accordion box, it would have a max position that keeps them in the accordion box. For the arrow pointing to the balls, it would have a max height that is just below the accordion box (so this is variable depending on whether the accordion box is expanded or co

[2022-03-04 15:46] pixelzoom commented on #72
It was honestly quite awhile before I noticed that the kickable ball had become translucent -- only after I tried to verbalize (for this issue) what I wanted to be able to do.  So I don't think transparency is effective in any case.   It certainly had no affect on my instinctive actions.

I also think that you're also potentially causing a usability problem by not _all_ balls (including the kickab

[2022-03-04 15:47] amanda-phet commented on #12
Discussed 3/4/22 with @chrisklus and @samreid and it sounds like there some concerns about the artwork that we might want to resolve
* The foot should never be below the cross section of the ground, because of the perspective we are using in the sim
* The padding below people is variable depending on where they are in line, because of scaling, and this is being handled right now but could be bette

[2022-03-04 15:51] amanda-phet commented on #68
Noting that this scenario looks inappropriate, and is another reason to reconsider showing the tight line of students.
![image](https://user-images.githubusercontent.com/7852916/156795496-5587ed92-f613-4629-9cd5-4b1889905bbc.png)

[2022-03-04 15:53] amanda-phet commented on #68
I can't remember the motivation for showing the line, and will review meeting notes to remember.

If the reason is to show that there are 15 balls/kicks/players, we could show a stack of transparent balls being depleted with each kick.

[2022-03-04 15:54] amanda-phet commented on #68
Let's make the change to showing one player at a time, and revert later if I remember a good reason for showing the entire line.

[2022-03-04 16:02] samreid commented on #12
Assigned to @amanda-phet since it sounds like the next step is discussion/coordinate with the artist.

[2022-03-04 16:10] samreid commented on #57
I moved the documentation to the declaration site as appropriate.  Over to @chrisklus for a review.

[2022-03-04 16:30] samreid commented on #50
@chrisklus and I reviewed, will follow up on the TODO separately.  Closing.

[2022-03-04 16:30] #50 closed

[2022-03-04 16:31] samreid commented on #39
@amanda-phet do you want to do anything on this for today?

[2022-03-04 18:26] chrisklus commented on #47
I added all the colors and switched the sky gradient to two colors (from Projectile Motion). @amanda-phet those were just hard coded for that sim, and I think they look pretty saturated for CAS. Let me know what you think.

[2022-03-04 18:54] chrisklus commented on #69
Hm, we may need to think about this more, but not sure if needed for today. The fonts look good on normal strings, but longer strings are taking too much space:

![image](https://user-images.githubusercontent.com/5618316/156824236-50dab32c-6ed7-48af-943c-46b3fca40f91.png)

Maybe it will make sense to fix this once the longer-term auto-alignment fix for the icons is complete.

[2022-03-04 19:25] amanda-phet commented on #68
Looks good to me. Thanks!

[2022-03-04 19:25] #68 closed

[2022-03-04 19:41] chrisklus commented on #66
Discussed with @amanda-phet and @samreid - we'd like to remove the stroke from the mean and median indicators in the accordion box, and the corresponding checkbox icons.

[2022-03-04 19:46] amanda-phet commented on #67
Closing this for now since I am not sure what I would want to be different, and my experience of wanting to kick 15 quickly might not match a more common user experience. Also, now that the students are shown individually, I think this looks nice.

[2022-03-04 19:46] #67 closed

[2022-03-04 19:47] chrisklus commented on #39
From dicussion with @amanda-phet and @samreid today - for today, we would like to move the grabbed indicator to the front, and start the mean indicator at 1.5.

We also noted that we still aren't sure what to do about the "same spot" problem and will not do anything differently for the milestone.

[2022-03-04 19:58] amanda-phet commented on #11
Final distribution for now, and you can close after implementing. Thank you!

[6, 9, 11, 14, 11, 8, 6, 5, 5, 5, 5, 5, 5, 5, 5]

[2022-03-04 19:59] amanda-phet commented on #12
We will likely have the final artwork next week, so after QA.

[2022-03-04 20:02] samreid commented on #11
I added the new distribution, closing.

[2022-03-04 20:02] #11 closed

[2022-03-04 20:08] chrisklus commented on #47
In discussion with @samreid and @amanda-phet, we decided to revert to the 3 color gradient and then lightened those colors a bit. Closing.

[2022-03-04 20:08] #47 closed

[2022-03-04 20:12] amanda-phet commented on #71
@samreid kindly shared these IDs for me to review

`centerAndSpread.meanAndMedianScreen.model.meanPredictionProperty`
`centerAndSpread.meanAndMedianScreen.model.medianPredictionProperty`
`centerAndSpread.meanAndMedianScreen.model.meanValueProperty`
`centerAndSpread.meanAndMedianScreen.model.medianValueProperty`

`centerAndSpread.medianScreen.model.meanPredictionProperty`
`centerAndSpread.medianScr

[2022-03-04 20:26] chrisklus commented on #39
@samreid and I made the requested changes above and will remove this issue from the milestone in case we want to revisit it for 1.0

[2022-03-04 20:26] samreid commented on #71
@arouinfar and @pixelzoom recently had a discussion about including features that may not be present in the sim.  It seemed like the recommendation is to keep them?  @arouinfar or @pixelzoom what do you recommend?

[2022-03-04 20:41] chrisklus commented on #66
@samreid and I completed the remaining changes - assigning back to @amanda-phet for final sign-off.

[2022-03-04 20:43] samreid commented on #71
It looks like the consensus in https://github.com/phetsims/geometric-optics-basics/issues/3#issuecomment-1050287506 was to prefer a single tree?  Does that apply here across screens?

[2022-03-04 20:48] arouinfar commented on #71
If it's a feature (or data) related to a later screen that could be added to an earlier screen and be functional/appropriate then it's fine to keep in the tree. Examples of this would include the teeth & ear mutations in the first screen of Natural Selection or even the series ammeter in CCK (if we would have designed the tree after our recent discussion).

If the elements that @amanda-phet reques

[2022-03-04 20:49] kathy-phet commented on #71
Hi Sam, There are two cases:
1) If the feature is not and would not make sense to be available on a screen, then it needs to be removed from the tree for that Screen.
2) If the feature is something that is not available on the screen, but would make sense to pedagogically have  on the screen and it would fit design wise, then it can be in the tree, just we would not feature it.

So Geometric Optic

[2022-03-04 20:49] kathy-phet commented on #71
Agree with what Amy said.

[2022-03-04 20:51] samreid commented on #71
Thanks, it sounds like we should uninstrument the mean prediction property on the 1st screen here because there is no way to turn on the mean prediction arrow on the 1st screen (unless we add that as a new feature).  We'll work on that shortly.

[2022-03-04 20:58] samreid commented on #71
Implemented, over to @amanda-phet to review.

[2022-03-06 23:49] chrisklus commented on #37
Looks good, thanks! Closing.

[2022-03-06 23:50] #37 closed

[2022-03-06 23:51] chrisklus commented on #14
@samreid can this issue be closed?

[2022-03-06 23:55] chrisklus commented on #57
Looks good @samreid, thanks! Closing

[2022-03-06 23:55] #57 closed

[2022-03-07 01:23] samreid commented on #72
Clicking on a soccer player or unkicked ball to kick it sounds reasonable and not too difficult to implement.

[2022-03-07 01:29] chrisklus commented on #24
I took a first pass at this. I wasn't able to create a gradient in the shape i was hoping, but i think what's there conveys the basic direction, so we can see if we like this.

Then @samreid made some improvements, like fixing a timing bug, and fading it out. Ready for review/more ideas from @amanda-phet. We also considered: fading the text in, animating dashes around the border, rotating the grad

[2022-03-07 01:38] samreid opened #73 "PhET-iO Save/Restore has wrong transparency for initial ball"
PhET-iO Save/Restore has wrong transparency for initial ball

<img width="1040" alt="image" src="https://user-images.githubusercontent.com/679486/156953405-45ceb737-0a6e-4d3a-b649-1c1f721660c0.png">

[2022-03-07 14:23] Nancy-Salpepi opened #74 "Ball highlights not working correctly"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
Safari and Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/781 I am noticing 2 issues with the ball highlights on the Median Screen (but I'm assuming they are related):
1. The highlights showing the median will disappear if the Median Checkbox in the Distance Panel is checked AFTER balls are k

[2022-03-07 17:18] Nancy-Salpepi opened #75 "Large amounts of the same value get cut off in line plot"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/781

On the Mean & Median Screen, the line plot can only fully show 11 x's for the same number. I'm not sure students would necessarily put so many balls on the same number but wanted you to know this happens.
Also, if more than 9 balls are stack

[2022-03-07 17:21] KatieWoe opened #76 "Memory Leak"
For https://github.com/phetsims/qa/issues/781. Seen on Win 11 Chrome.
The memory footprint for this sim seems small, but there is a noticeable memory leak. This test was don on the PhET brand sim, with memory snapshots happening one minute apart.
<img width="352" alt="memleak" src="https://user-images.githubusercontent.com/41024075/157085187-7eea8e56-7a9b-4be3-a7cd-842226590b20.png">

[2022-03-07 17:30] Nancy-Salpepi commented on #75
I see that you mentioned these edge cases in https://github.com/phetsims/center-and-spread/issues/58
so I am going to close this.

[2022-03-07 17:30] #75 closed, assigned to nobody

[2022-03-07 17:44] KatieWoe commented on #76
These are the results on the PhET-iO Brand:
<img width="346" alt="iomem" src="https://user-images.githubusercontent.com/41024075/157088843-6b1b83a4-c475-402d-86fa-5684675a685c.png">

[2022-03-07 18:03] Nancy-Salpepi opened #77 "Focus highlight on Kick 1 button disappears with one kick left"
**Test device**
Macbook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/781:
The focus highlight around the Kick 1 button disappears when there is only one kick left. Pressing space doesn't kick the last ball. I need to press tab again to return focus to that button.
**Steps to reproduce**
1. On screen 1 o

[2022-03-07 18:42] samreid commented on #14
Perhaps leave it open and unassigned as a marker for when we get to that screen?

[2022-03-07 19:03] KatieWoe opened #78 "Moving cards quickly shuffles other cards"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/781
When moving cards on the median screen, if you drag the card slowly the other cards stay in order, but if you drag them quickly other cards are shuffled. This can cause problems if you are trying to manually sort them, as it does not take much speed and already

[2022-03-07 19:39] Nancy-Salpepi opened #79 "Symbols/words overlap or are cut off with stringTests"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/781
Several words and symbols are cut off with stringTest=double and stringTest=long.

**Examples with stringTest=long on the Mean and Median Screen:**
* mean symbol is cut off
<img width="449" alt="Screen Shot 2022-03-07 at 2 24 43 PM" src="http

[2022-03-07 19:42] Nancy-Salpepi commented on #79
For stringTest=rtl
The mean symbol is cut off in the panel.
<img width="346" alt="Screen Shot 2022-03-07 at 2 41 29 PM" src="https://user-images.githubusercontent.com/87318828/157106177-d78cdd0d-6f06-4528-ad71-746e3e2f5ce6.png">

[2022-03-07 19:49] KatieWoe opened #80 "Feature Suggestion: Delete individual soccer balls"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/781
I noticed that you are able to move soccer balls after they are in the play area. You are also able to delete all balls in the play area with the eraser button. However, you are unable to erase just one if you, for instance, were aiming for a certain number and

[2022-03-07 20:50] KatieWoe opened #81 "Soccer balls fuzzy in screenshot"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/781.
When taking a screenshot from the PhET Menu, the soccer balls were unclear. The lines within the image seemed to be the cause.

**Visuals**
![Center and Spread screenshot](https://user-images.githubusercontent.com/41024075/157115686-33cf228c-860e-4cdb-bb8b-1d20

[2022-03-07 20:50] chrisklus commented on #80
Thanks @KatieWoe! Noting for @amanda-phet and @samreid that i've noticed myself wanting to do this as well.

[2022-03-07 21:25] KatieWoe commented on #78
Not sure if this helps track it down, but I used `?speed=.1` and this didn't seem to happen at that speed.

[2022-03-07 22:32] KatieWoe opened #82 "Possible to get floating soccer balls"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/781. Seen when using `?speed=.1` but it may be possible, if hard, during normal use.
When a soccer ball is about to land in a spot, dragging another on/off that spot as it lands can cause the positions to overlap, making it look like a ball is floating and/or missin

[2022-03-07 23:35] KatieWoe opened #83 "Launching while kicks occur lead to wrong number of results"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/781.  In studio, if you launch the sim while kicks are occurring, the resulting sim will not have the correct number of balls launched and no option left to kick.
**Steps to Reproduce**
1. In studio, go to the first screen
2. Press the kick 5 button three times
3. Launch the sim

**Vi

[2022-03-08 01:17] Nancy-Salpepi commented on #77
I also see this when the 'return' key is used instead of the spacebar.

[2022-03-08 01:34] Nancy-Salpepi opened #84 "Holding down spacebar doesn't result in continuous kicks"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/781:
I know that only a basic version of keyboard nav was enabled at this point, but I think that holding down the spacebar should produce continuous kicks in the same way that clicking  and holding on the mouse does.  As of now, you h

[2022-03-08 14:27] Nancy-Salpepi opened #85 ""You sorted the data" message doesn't always appear"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
chrome and safari

**Problem description**
For https://github.com/phetsims/qa/issues/781:
The "You sorted the data" message doesn't always appear. It was hard to pinpoint exactly when it wouldn't happen, but it seems to occur when the soccer balls have been moved a few times (less than 5) and are on fewer data points.

[2022-03-08 14:29] Nancy-Salpepi commented on #85
The "you sorted the data message"also did not appear in this instance. In this case, this is where the balls were originally kicked. I just sorted the data.

https://user-images.githubusercontent.com/87318828/157258063-a54eb50d-2240-420d-a531-20a15f1a3ddc.mp4

[2022-03-08 19:16] Nancy-Salpepi opened #86 "launched sim shows wrong person"
**Test device**

**Operating System**
MacBook Air (m1 chip)

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/781

The launched sim always begins with the woman. Also, the ball isn't transparent.
If you press 'kick 1' the woman makes a kicking motion but the ball doesn't move--this will always lead to one ball being "left over" at the end with no way of kicking

[2022-03-08 19:33] Nancy-Salpepi commented on #86
Without pressing anything in Studio, if I launch the sim and press 'kick 1' the woman will still kick nothing on the first attempt.

[2022-03-08 19:52] Nancy-Salpepi opened #87 "launching sim triggers median animation"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/781 in the studio wrapper:

On the Mean and Median screen, if the Median Checkbox in the panel is checked, launching the sim triggers the median animation to occur.

**Steps to reproduce**
1. In the Studio wrapper, on the Mean and Median Screen,

[2022-03-08 21:03] KatieWoe opened #88 "Dragging soccer ball to the edge of the screen may not pan"
**Device**
iPad
**OS**
iPadOS 15
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/781
When zoomed in, dragging the soccer ball to the edge of the screen may or may not pan the screen. If it does pan it may only move one tick.
**Visuals**

https://user-images.githubusercontent.com/41024075/157323463-7aceb7e1-1648-470c-be8e-3ac5caf04568.MOV

[2022-03-09 16:03] amanda-phet commented on #87
While this seems logical, I agree that it would be ideal if that animation didn't happen in this case.

[2022-03-09 16:04] amanda-phet commented on #81
Does this happen with the people artwork as well? Curious if it's a ball issue or an artwork issue.

[2022-03-09 16:10] amanda-phet commented on #24
I like the text. If we can rotate the rainbow gradient 45º I think that would look nice, but it is hard for me to tell exactly what the gradient is doing. I do not want any more animations or flair though, I think this is plenty (combined with the cards animating).

Thanks!

[2022-03-09 16:14] amanda-phet commented on #71
Thanks for sharing what has been discussed and decided in the past. I think this was the right call and all looks good to me!

[2022-03-09 16:14] #71 closed

[2022-03-09 16:21] amanda-phet commented on #66
Everything looks good to me. Thank you!

[2022-03-09 16:30] amanda-phet commented on #50
Looks good!

[2022-03-09 22:24] Nancy-Salpepi opened #89 "Text moves when sorting data in Firefox"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/781:

This seems to be specific to Firefox:
On the Median screen, moving the tiles or the soccer balls causes the text "Sort Data" and "Median" to shift.

**Visuals**
![textmoves](https://user-images.githubusercontent.com/87318828/157548148-330d9639-3b16-4418-ad3

[2022-03-10 14:00] Nancy-Salpepi opened #90 "Balls not draggable in launched sim"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
Safari and Chrome

Also seen on win10 + Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/781

Any balls kicked in Studio are not moveable in the launched sim. Only balls kicked in the launched sim are draggable.
The tiles and Predict Mean/Mode arrows are all moveable.

**Steps to reproduce**
1

[2022-03-10 19:49] Nancy-Salpepi commented on #74
In Studio, launching sim with both Median checkboxes checked results in no highlights on the soccer balls (it works correctly if the Median checkbox in the panel is unchecked).

1. On either screen, check both Median checkboxes
2. Press 'Kick 5' button once
3. Launch sim

https://user-images.githubusercontent.com/87318828/157743195-7bbf5370-4def-4263-973f-660fe4948a42.mp4

[2022-03-10 20:31] stemilymill commented on #81
@amanda-phet this is on my win10 dell, the person and soccer balls have fuzzy/pixelated lines

![screenshot wrapper person and soccer balls pixelated](https://user-images.githubusercontent.com/85511101/157749490-f4b9b544-8443-4cf9-a423-d50df557c989.jpg)

[2022-03-10 22:14] Nancy-Salpepi commented on #81
Using the screenshot wrapper this is what it looks like for me with win10 + Firefox, but I think this computer might be part of the reason. Everything looks very clear on my MacBook.
![CaS screenshot2](https://user-images.githubusercontent.com/87318828/157763718-4ebb7a08-0fe6-43a1-a79d-5f7f330f6ae4.PNG)

[2022-03-11 14:03] Nancy-Salpepi opened #91 "Characters flash when kicking ball using Firefox"
**Test device**
Dell

**Operating System**
win10

**Browser**
Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/781:

The kicking movement isn't smooth when the first 5 balls are kicked. It looks like the people are flashing. This seems to only happen with Firefox.

**Steps to reproduce**
1. On either screen, Press the 'Kick 5' button once--the characters seem to flash a b

[2022-03-11 17:31] samreid commented on #85
May be related to https://github.com/phetsims/center-and-spread/issues/78?

[2022-03-11 18:28] amanda-phet commented on #90
This seems like a priority for the classroom prototype since we expect to use this feature in an integration.

[2022-03-11 18:34] amanda-phet commented on #83
This is not a priority for the classroom prototype because we can ensure that we don't launch the sim mid-kick.

[2022-03-11 18:36] amanda-phet commented on #82
I've wondered if this might happen, but wasn't fast enough to make it happen on my own (and didn't know about the speed qp). I think this is a potentially strange issue if someone is just moving balls around and not trying to make it happen, so it would be helpful to think through a solution sooner rather than later, if possible.

[2022-03-11 18:37] amanda-phet commented on #81
This seems like something that would be useful to fix for 1.0, but not a priority for the classroom prototype.

[2022-03-11 18:41] amanda-phet commented on #80
I have thought about this as well, but not sure if there is a good way to allow it to happen. It seems like if someone wants a specific number of balls, they can just kick that many, but "removing" data is something that isn't realistic with actual data. While I recognize that changing the data (like dragging a ball after it has landed) is also unrealistic, it is pedagogically powerful. Removing a

[2022-03-11 18:42] amanda-phet commented on #79
This will be a 1.0 priority for sure, but not necessary for the classroom prototype.

[2022-03-11 18:43] amanda-phet commented on #77
This is a 1.0 priority, but would be good to consider sooner if possible.

[2022-03-11 18:45] amanda-phet commented on #76
This seems important to resolve sooner rather than later

[2022-03-11 18:46] amanda-phet commented on #74
This seems like a good one to figure out for the classroom prototype

[2022-03-15 16:36] chrisklus opened #92 "Can't kick first ball after launching"
@samreid and I noticed while working on https://github.com/phetsims/center-and-spread/issues/90 that the first time you kick after launching, the player kicks their leg but the ball doesn't move. The second kick behaves normally.

[2022-03-15 17:00] samreid commented on #86
@chrisklus and I determined this seems related to #92

[2022-03-15 17:24] samreid commented on #86
We fixed the display of the soccer player image, but still experience these related problems:

* https://github.com/phetsims/center-and-spread/issues/92
* A duplicate card appears in the launched sim, that tracks with the first card.
* #73

[2022-03-15 17:26] samreid opened #93 "A duplicate card appears in the launched sim, that tracks with the first card."
From #86, we discovered A duplicate card appears in the launched sim, that tracks with the first card.

[2022-03-15 18:41] Nancy-Salpepi commented on #86
The soccer player image is now correct when the sim is launched. Closing.

[2022-03-15 18:41] #86 closed

[2022-03-16 15:34] samreid commented on #78
@chrisklus and I fixed it in the commit. @KatieWoe can you please review on master and close if all is well?

[2022-03-16 15:51] Nancy-Salpepi commented on #90
Looks fixed on master. Closing.

[2022-03-16 15:51] #90 closed

[2022-03-16 16:01] KatieWoe commented on #78
Looks good on master

[2022-03-16 16:03] samreid commented on #74
@chrisklus and I fixed the problem.  The commit isn't showing in the issue thread yet, but GitHub has registered the push, so it is ready for testing.  It will probably show below this comment soon.  @Nancy-Salpepi can you please test on master?  Close if all is well.

[2022-03-16 16:28] Nancy-Salpepi commented on #74
Looks good in the PhET brand sim and in the Studio wrapper. Closing.

[2022-03-16 16:28] #74 closed

[2022-03-16 16:56] chrisklus commented on #24
@samreid and I redid the gradient shape to be linear and then rotated it a little past 45 degrees. @amanda-phet can you please review and close if all set? thanks!

![image](https://user-images.githubusercontent.com/5618316/158645105-d8edf40a-dd66-4218-a849-df34b0929bff.png)

[2022-03-16 17:24] chrisklus commented on #93
@samreid and I fixed this in the commit above. @Nancy-Salpepi would you mind reviewing this in Studio -> Preview Sim? Please close if working as expected. Thanks!

[2022-03-16 17:45] chrisklus commented on #92
@samreid and I fixed this in the commit above. @Nancy-Salpepi we have a couple more phet-io state fixes incoming, would you mind taking a look at this too in Studio -> Launch sim? Please close if fixed, thanks!

[2022-03-16 17:46] chrisklus commented on #73
@samreid and I fixed this above, @Nancy-Salpepi can you please review and close if fixed? thank you!

[2022-03-16 17:56] #92 closed

[2022-03-16 17:58] chrisklus opened #94 "Object distribution is not preserved for phet-io state"

[2022-03-16 18:11] #93 closed, assigned to Nancy-Salpepi

[2022-03-16 18:22] Nancy-Salpepi commented on #73
This looks fixed as well. Closing.

[2022-03-16 18:22] #73 closed

[2022-03-16 18:43] amanda-phet opened #95 "Change the name of the sim"
Due to QA feedback and some teacher feedback, we'd like the sim renamed as Center and Variability.

The third screen, previously called Spread, should also be renamed Variability.

[2022-03-16 19:47] samreid opened #96 "Add sound effects for kicking soccer balls"
In email, @emily-phet suggested:

[2022-03-16 19:58] samreid commented on #95
I asked on slack:

[2022-03-16 20:02] KatieWoe commented on #95
I think when it's done people will need to delete this repo from their local copies and then clone missing repos again. But I'm not sure beyond that.

[2022-03-16 20:06] samreid commented on #95
@chrisklus identified a checklist within new_repo_checklist:

[code]

[2022-03-16 22:47] amanda-phet commented on #83
@chrisklus says this might be fixed, and if so, that's great! Adding to the milestone for @samreid and @chrisklus 's attention.

[2022-03-16 22:50] amanda-phet commented on #81
@chrisklus says it might be easy or worthwhile to try mipmaps for this problem.

[2022-03-16 22:53] amanda-phet commented on #85
@Nancy-Salpepi and @stemilymill can you try to reproduce this again now that #78 is fixed?

[2022-03-16 22:59] amanda-phet commented on #88
This seems like an issue because the balls snap to the tick marks, and we probably don't want to chance the snappiness of that interaction. It sounds like this might be a tough one for @chrisklus and @samreid .

[2022-03-16 23:02] amanda-phet commented on #89
Since this is a known issue, I updated the status since it may or may not be resolved for this sim.

[2022-03-16 23:04] amanda-phet commented on #87
@chrisklus says this shouldn't be hard to fix, so I'm adding it to the milestone!

[2022-03-16 23:23] samreid commented on #88
Also tagging @jessegreenberg in case he knows a good solution for this.

[2022-03-17 12:20] Nancy-Salpepi commented on #85
This issues still occurs.

[2022-03-17 15:01] jessegreenberg commented on #88
This is happening because at the edge of the screen the Pointer doesn't have enough space to drag more than half way between tick marks to pull the CASObjectNode to a new position. A function was added to DragListener just this week that can fix this. By telling the AnimatedPanZoomListener to increase the bounds to keep in view we can ensure that the Pointer will always have enough space to drag t

[2022-03-18 14:17] amanda-phet commented on #72
If we have time, I'd like to add this to the classroom prototype too!

[2022-03-18 14:23] amanda-phet commented on #12
I don't have the final artwork yet from Mariah, and was waiting to provide more until I could get all of it done at the same time. However I think it would be better to give you some new artwork today even if I have to do it again later when she provides updated artwork, so I'll plan to commit some artwork today, but won't close this issue until it's all finalized.

[2022-03-18 14:37] amanda-phet commented on #61
Here are the screen icons!

![median-screen-icon](https://user-images.githubusercontent.com/7852916/159023034-9eb0639c-ecf2-4a29-9885-4a67dd5a7661.png)

![mean-and-median-screen-icon](https://user-images.githubusercontent.com/7852916/159023032-0281b657-07f4-4673-99aa-f027b78632ad.png)

[2022-03-18 15:29] KatieWoe opened #97 "CT cannot read properties of undefined reading width"
[code]

[2022-03-18 16:04] chrisklus commented on #95
@samreid and I completed this change in the commits above. We are going to close - please reopen if a problem is found. Total time was 1 hour.

[2022-03-18 16:04] #95 closed

[2022-03-18 16:35] chrisklus commented on #61
@samreid and I added the screen icons in the above commit. We noticed there was a 1 pixel margin on the top and right side of the image, and that the image was 1 pixel wider and taller than the recommended size (we found that the recommended size was 548x373). @amanda-phet could you please re-export them with the extra pixel removed?

We also noticed that the dots on the mean icon dip below the me

[2022-03-18 16:56] samreid commented on #94
Fixed, closing.

[2022-03-18 16:56] #94 closed

[2022-03-18 17:08] samreid commented on #83
We confirmed this is fixed, closing.

[2022-03-18 17:08] #83 closed

[2022-03-18 17:08] amanda-phet commented on #61
That's really strange, because my artboards are exactly 548x373! I don't know why it's adding the extra pixel but I resized the exported images, so hopefully these will work.

I thought that was an illusion because illustrator snapped the objects next to each other, but they are the tiniest hair overlapping. I went ahead and added a pixel between since the illusion is still present even when they

[2022-03-18 17:09] amanda-phet commented on #61
@chrisklus can you make sure these are the right size now?

[2022-03-18 17:12] amanda-phet commented on #96
We have considered sound for this sim, yes, in particular for the kick action. I have added this suggestion to the sound design section of the design doc.

[2022-03-18 17:16] samreid commented on #61
The dimensions look correct now, thanks!  However, when we look at the new image in photoshop, there is still a border of transparent pixels.  We presume that is unintentional:

<img width="646" alt="image" src="https://user-images.githubusercontent.com/679486/159051358-aac0b353-48c9-47f9-8089-62ba2fa46b68.png">

[2022-03-18 17:31] samreid commented on #81
This is a symptom of a more general problem which is described in https://github.com/phetsims/joist/issues/664 and depicted as non-blocking.  I'll make a comment there as well.

[2022-03-18 17:32] samreid commented on #81
Since https://github.com/phetsims/joist/issues/664 is depicted as non-blocking and caused by a common code issue, I recommend removing from the current milestone.  Anyone else please feel free to disagree.

[2022-03-18 17:42] amanda-phet commented on #81
We can remove it from the milestone, but we will likely still need to mipmap all images.

[2022-03-18 17:45] amanda-phet commented on #61
Please check again. Hopefully it is fixed now.

[2022-03-18 17:45] samreid commented on #87
Fixed and appears to be working nicely in our testing.  @Nancy-Salpepi can you please test as well?  Please also test the expected animation behavior in PhET brand.  Please close if all is well.

[2022-03-18 17:53] samreid opened #98 "Improve the kick buttons"
In https://github.com/phetsims/center-and-variability/issues/72 @pixelzoom reported:

I can see the value in having a written number on the button.  But @chrisklus and I have previously discussed that the buttons look washed out (the shading is almost non-existent because the color is very bleached).  We also discussed icons and shared a mock-up in [on the buttons](https://github.com/phetsims/cent

[2022-03-18 17:53] samreid commented on #72
From Slack:

@amanda-phet replied:

[2022-03-18 18:08] samreid commented on #72
More from slack:

Sam Reid  11:48 AM
Do you want https://github.com/phetsims/center-and-variability/issues/72 to trigger on mouse down or mouse up?

Amanda McGarry  11:49 AM
Mouse down
11:49
I remember discussing that so that users didn’t thin they could drag the ball

Sam Reid  11:56 AM
Do we want fire on hold for that?

Amanda McGarry  11:59 AM
Maybe? Can we control how quickly it fires?

Sam Re

[2022-03-18 18:09] samreid commented on #72
In discussion with @amanda-phet and @chrisklus, we agreed there isn't time to do this feature in time for the milestone, so we will remove it from the milestone.  That will also give us more time to decide on the details like press to hold, and whether to use one input listener to cover the player and ball, or something else.

[2022-03-18 18:26] #87 closed

[2022-03-18 20:13] samreid commented on #61
Looks good to me, thanks!  Closing.

[2022-03-18 20:13] #61 closed

[2022-03-18 20:29] chrisklus commented on #45
@samreid and I decided to remove this from the milestone since we won't be able to address all the TODOs in time for the prototype. We are taking RC shas now.

[2022-03-19 00:22] samreid commented on #12
After discussion, we agreed to wait until all images are ready so they can be processed as a batch.

[2022-03-19 15:56] samreid commented on #81
There is a proposal in https://github.com/phetsims/joist/issues/664 that seems like it will work to address this issue.

[2022-03-22 19:22] KatieWoe commented on #76
This is in https://github.com/phetsims/qa/issues/789 as well
<img width="345" alt="cvbrandmem" src="https://user-images.githubusercontent.com/41024075/159559343-289e3558-d0d1-42bf-8978-1908be7feabe.png">

[2022-03-22 20:12] KatieWoe opened #99 "Unable to open example sim"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/789
When pressing launch under the example code in the wrapper index to see the example sim, it loads only part way and the console shows the below error.
**Visuals**
<img width="347" alt="example" src="https://user-images.githubusercontent.com/41024075/159567077-f551477b-5dcc-44eb-bc

[2022-03-22 20:20] KatieWoe opened #100 "?phetioDebug won't run in Studio"
For https://github.com/phetsims/qa/issues/789. Seen on Win 11 Chrome.
When trying to run studio with the `?phetioDebug` parameter, I got the below error and studio would not load.
<img width="960" alt="debugpopup" src="https://user-images.githubusercontent.com/41024075/159568740-08d7331c-f0a9-430f-986c-f696ff155462.png">

[2022-03-22 20:25] KatieWoe commented on #100
The same seems to happen in the state wrapper:
<img width="960" alt="similarstate" src="https://user-images.githubusercontent.com/41024075/159569732-29c76be1-4025-4d32-929e-a226318e2278.png">

[2022-03-22 21:47] KatieWoe opened #101 "First kicks of sim on Firefox flash"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/789.
When you first enter the sim and kick the soccer balls, the kickers flash as they kick. After the first round this flash no longer happens, even if you reset all or refresh the page. As such, this is best reproduced in incognito mode.
**Steps to reproduce**
1.

[2022-03-22 21:56] KatieWoe commented on #101
It also seems to occur again if the page is left for some time and then returned to. After creating this issue in a different browser I saw this bug again when I returned to the sim.

[2022-03-22 22:29] KatieWoe opened #102 "Long hold on kick button leads to multiple clicks"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/789
If you hold the "Kick 1" button down for a moment, more than one kick will happen, and it will continue after you let go.

**Visuals**
![longclick](https://user-images.githubusercontent.com/41024075/159586662-775d6bae-dd31-4578-a6e5-1cfa17f909e5.gif)

Troublesh

[2022-03-22 22:29] Nancy-Salpepi commented on #101
@KatieWoe I think this is the same issue as https://github.com/phetsims/center-and-variability/issues/91

[2022-03-22 22:41] KatieWoe commented on #101
Looks like, sorry about that.

[2022-03-22 22:41] #101 closed

[2022-03-23 14:28] Nancy-Salpepi opened #103 "Sorting Arrow hint doesn't always appear in State wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/789
After moving cards in the downstream sim, pressing "set state now" will not make the blue sorting arrow hint reappear. It will reappear after pressing the 'Reset All' button in the downstream sim.

* The sorting arrow doesn't disappear in the d

[2022-03-23 15:40] Nancy-Salpepi commented on #99
I am also unable to open the HTML generated in the Studio Wrapper.

[2022-03-23 15:49] Nancy-Salpepi opened #104 "Unable to scroll through data stream in Data: text area wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari//Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/789
I am unable to scroll through the data stream after making changes in the sim. I can only see information about the model.timeProperty.
To make sure this wasn't a general issue, I tested with Density in master and had no issues. There,

[2022-03-23 15:59] amanda-phet commented on #102
I think the bug here is that only 5 kicks should have happened in this case, because the mouse was released and kicks continued to occur.

[2022-03-23 16:49] amanda-phet opened #105 "PhET-iO needs for March 30th (if possible)"
- [x] global control for making balls not pickable/draggable
- [x] hide any UI controls (checkboxes, buttons, accordion boxes)
- [x] get value from prediction arrows
- [x] get value of mean
- [x] get value of median

I believe some of these can already be checked, but leaving the complete list here so QA can test this when all of these capabilities are ready.

[2022-03-23 17:01] chrisklus commented on #105
@Nancy-Salpepi here is what should be tested in Studio - I don't believe the first request exists yet, so @samreid and I will have to add that next week. I'm not sure if the second one is complete, so that would be helpful to know. And hopefully the last three are good to go.

Tagging https://github.com/phetsims/qa/issues/789

[2022-03-23 19:06] Nancy-Salpepi opened #106 "Disappearance of median brackets is inconsistent"
**Test device**
Dell

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/789

After the data is sorted, if I move soccer balls so that the median value doesn't change but the cards are out of order, the median brackets do not disappear. However, when a move a card, without changing the median value, the brackets do disappear.
The

[2022-03-23 19:12] Nancy-Salpepi commented on #106
It can look really odd in some cases:
<img width="586" alt="Screen Shot 2022-03-23 at 3 11 26 PM" src="https://user-images.githubusercontent.com/87318828/159777851-8296821c-a020-475f-9b6f-fb215882b93d.png">

[2022-03-23 19:52] Nancy-Salpepi opened #107 "Touch Areas Overlap"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/789

The touch areas for the soccer balls overlap. I quickly tested on the iPad and didn't have an issue selecting the desired ball when they were side-by-side, but I thought I would report it.

**Visuals**
![soccerballtouch](https://user-images.githubusercontent.com/

[2022-03-23 19:57] amanda-phet commented on #107
I wonder if this is a result of having moved the tick marks closer together. I don't think the touch areas need to be this wide and would recommend making them just slightly wider than the ball.

[2022-03-23 19:59] amanda-phet commented on #106
Definitely a problem! If you drag a ball and the value changes, then the median bars should only stay there if the data remains sorted.

[2022-03-24 17:15] Nancy-Salpepi opened #108 "Should pressing the eraser button reset the sorting arrow hint?"
**Test device**
iMac

**Operating System**
10.5.7

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/789, I was wondering if the eraser button should reset the sorting arrow hint? Currently, the hint will only reappear after "reset all" is pressed.

**Steps to reproduce**
1. On the median screen, kick a couple of balls
2. Move a card so that the sorting hint dis

[2022-03-24 18:41] amanda-phet commented on #108
We thought the sorting hint didn't need to be reset in this case because they already learned how it works, and the erase button just erases the data and doesn't reset anything else about the sim.

I'll close this since it was an intentional decision, but added it to my list of things to look for in interviews.

[2022-03-24 18:41] #108 closed

[2022-03-24 19:48] Nancy-Salpepi commented on #105
@chrisklus For #2 on the list, I don't see visibleProperty for any of the checkboxes on either screen.

[2022-03-24 20:27] Nancy-Salpepi opened #109 "'Set Value' for prediction arrows can exceed maximum"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/789 and part of the PhET-iO needs for 3/30 https://github.com/phetsims/center-and-variability/issues/105:

The 'Get Value' aspect of the model.medianPredictionProperty and model.medianPredictionProperty seems to working correctly. However the 'Set

[2022-03-24 22:13] Nancy-Salpepi opened #110 "Making PredictionNode.visibleProperty 'true' doesn't check the corresponding checkbox"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/789 and related to PhET-iO needs issue https://github.com/phetsims/center-and-variability/issues/105

When the `medianPredictionNode.visibleProperty` or `meanPredictionNode.visibleProperty` are set to true, the prediction arrow appears in the sim b

[2022-03-24 23:46] Nancy-Salpepi commented on #105
@amanda-phet did you want individual control for the kick buttons? Currently there is only one visible property for the group: `view.kickButtonGroup.visibleProperty`.

[2022-03-25 00:35] Nancy-Salpepi commented on #105
@chrisklus  I don't see the `get value`, `set value`, `copy set value code` options for Mean and Median on either screen.
<img width="583" alt="Screen Shot 2022-03-24 at 8 27 45 PM" src="https://user-images.githubusercontent.com/87318828/160031647-656f5cea-8797-4f56-9d43-b39e9b572f5e.png">

[2022-03-28 13:25] Nancy-Salpepi commented on #106
In the State wrapper--the median bars disappear in the downstream wrapper (but remain in the upstream when they shouldn't).

https://user-images.githubusercontent.com/87318828/160407589-3c6ede5c-3b6d-4551-9b4d-4ecb2f3ad57f.mp4

[2022-03-28 16:32] jessegreenberg commented on #76
The memory leak in https://github.com/phetsims/scenery/issues/1356 has been fixed, but that leak was first introdudced after this issue was first reported. There may still be a memory leak in this sim.

[2022-03-28 18:25] amanda-phet opened #111 "Cueing arrow disappears before a number is actually moved"
If you have just one kick, so one value present, and try to move it, the sim registers this as moving a number. So, when the second ball is kicked, there is no cueing arrow. In this case, since the actual card never moved, I would consider this to be unexpected and buggy.
![arrow-bug](https://user-images.githubusercontent.com/7852916/160462494-c950c511-b9de-4361-a99a-b0b88bb13e8c.gif)

[2022-03-28 19:21] DevonQui opened #112 "Distribution Property Possibly Wrong in Studio"
**Test device**
MacBook Pro M1

**Operating System**
12.2.1

**Browser**
Safari 15.3

**Problem description**
This is for https://github.com/phetsims/qa/issues/789

I noticed that the left and right skew distributions are possibly switched in Studio. When I was testing left skew, it only produced a left-skewed distribution 9% of the time, the other 91% were right-skewed distributions. This was sim

[2022-03-28 19:29] chrisklus commented on #100
@samreid and I identified two steps for this issue:

1. Related to https://github.com/phetsims/center-and-variability/issues/99 - marking SoccerPlayers as `phetioDynamicElement: true`. And other possible errors from phet-io debug, like missing required tandems.
2. Making a phet-io issue to investigate why some modes of running the sim (`phetioDebug`) identify these errors, and others do not.

[2022-03-28 19:31] chrisklus commented on #91
@amanda-phet would you like this fixed for the upcoming release? If so, @jonathanolson do you have any ideas what this could be?

[2022-03-28 19:38] chrisklus commented on #102
@samreid and I thought about a fix for this and came up with two ideas:

1. Cancel the remaining queued kicks when the user releases holding down the "Kick 1" button.
2. Match the fire-on-hold rate of the "Kick 1" button to the rate of the multi-kick "release" for when soccer balls are in the queue.

We think 2 will be simplest to try out first.

[2022-03-28 19:44] chrisklus commented on #103
Thanks @Nancy-Salpepi! @samreid and I agree the drag indicator should be stateful. If the client wants to re-show it after they set up the cards in a certain state, then they can make it visible again.

[2022-03-28 19:49] chrisklus commented on #106
Thanks @Nancy-Salpepi! Marking for the April milestone.

[2022-03-28 19:56] chrisklus commented on #107
Thanks @Nancy-Salpepi! Does this look okay @amanda-phet?

<img width="309" alt="image" src="https://user-images.githubusercontent.com/5618316/160476677-74addcf4-da47-4096-9158-ea57ed7923e6.png">

[2022-03-28 20:24] KatieWoe commented on #105
If there is a way to do 1 I haven't found it yet. Let me know if I'm missing something obvious but I can't seem to find this control, either in Featured or All.

[2022-03-28 20:26] Nancy-Salpepi commented on #105
The first doesn't exist yet. See https://github.com/phetsims/center-and-variability/issues/105#issuecomment-1076576977

[2022-03-28 20:28] KatieWoe commented on #105
Ahh, sorry about that. Thanks for pointing it out.

[2022-03-28 20:37] KatieWoe commented on #99
I have been able to open HTML generated in Studio, so I'm curious about this. Let me know if I can help track it down.

[2022-03-28 21:12] KatieWoe commented on #104
I think this is because new out put is constantly being created, which scrolls back down to the bottom. May not exactly be a bug, but definitely non-ideal.

[2022-03-28 22:21] chrisklus commented on #106
@samreid and I committed a fix above. @Nancy-Salpepi could you please test on phettest?

[2022-03-28 22:21] KatieWoe commented on #99
I think I figured it out. If the HTML Output is Production, launching and saving work. If Output is Development then the error is seen.

[2022-03-28 22:24] chrisklus commented on #106
If it seems fixed, please leave open and relabel as status:ready-to-cherry-pick, thanks!

[2022-03-28 22:27] chrisklus commented on #107
@samreid and I committed what was in the screenshot above. If it seems fixed, please leave open and relabel as status:ready-to-cherry-pick, thanks!

[2022-03-28 23:06] samreid commented on #102
@KatieWoe can you please review the proposal in phettest?  If it seems OK, please relabel as "ready for cherry pick".

[2022-03-28 23:08] Nancy-Salpepi commented on #106
Looks good!

[2022-03-28 23:15] samreid commented on #109
The sim has a correct guard for the values (range of 1 to 15).  However, the changes in https://github.com/phetsims/studio/issues/253 seem to require that studio is launched with `?phetioDebug` which is not the default and there is no documentation for.  @zepumph can you please recommend how to proceed?

[2022-03-28 23:17] Nancy-Salpepi commented on #107
Looks good when the balls are side-by-side @chrisklus and @samreid . There is still overlap when they are stacked on top of each other, but since only the top ball gets moved I don't think that is an issue. Correct me if I am wrong!

[2022-03-28 23:35] samreid opened #113 "AriaLiveAnnouncer: Assertion failed: value failed isValidValue: [object Object] on reset all"
While working on https://github.com/phetsims/center-and-variability/issues/99, @chrisklus and I discovered this error when pressing reset all:

[code]

[2022-03-28 23:44] samreid commented on #100
This seems fixed after the commits.  @KatieWoe can you please verify on phettest?  If all is well, please relabel as "ready for cherry pick".

[2022-03-28 23:45] samreid commented on #99
This seems fixed after the commits.  @KatieWoe can you please verify on phettest?  If all is well, please relabel as "ready for cherry pick".

[2022-03-28 23:54] samreid commented on #112
Great catch, thanks!  @chrisklus and I were surprised to read this google search that said:

We previously had that backwards and will correct it.  Tagging @amanda-phet so she is aware.

[2022-03-29 00:09] samreid commented on #113
We investigated this and there appears to be a problem in the state validator in OrIO.  It doesn't expect the `index` part of the state object.  We tried this and it had other problems:

[code]

@zepumph can you please advise?

[2022-03-29 00:56] zepumph commented on #113
Yes thanks. There were two issues. The first was that I was causing a problem in Utterance. The second is that our error handling was incorrect for OrIO so the problem was hard to realize (hence your horrid message above).

Basically Utterance.toStateObject wasn't using OrIO to get the index/state object, so the state object was invalid. I also realized that the validator for OrIO was totally wron

[2022-03-29 00:58] zepumph commented on #109
I would honestly just close this issue. We want to develop more assertive error handling over there so that phetioDebug is not required. This is a known issue. I'm happy to leave open, but I don't see any sim-specific additional info that this issue adds to the problem. Over there, we will most likely try to eagerly check range before an assertion would happen, and provide studio with the proper e

[2022-03-29 14:58] Nancy-Salpepi opened #114 "Name change to 'Kick 5' button not maintained in launched sim"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
chrome

**Problem description**
For https://github.com/phetsims/qa/issues/789

The launched sim doesn't show any changes to the name of the 'Kick 5' button. This happens on both screens.
This issue isn't seen with the 'Kick 1' button.

**Steps to reproduce**
1. In studio, go to `view.kickButtonGroup.kickFiveButton.labelN

[2022-03-29 15:50] KatieWoe commented on #100
`?phetioDebug` seems to be included automatically in master, and both studio and state loaded fine.

[2022-03-29 16:01] KatieWoe commented on #102
I found this behavior much, much better. My only note is that "Kick 5" does not behave the same way, and only fires when you let go. Is this intended?

[2022-03-29 16:48] samreid commented on #105
We renamed eraserButton => eraseButton more like a verb, like the reset all button.

[2022-03-29 17:16] KatieWoe opened #115 "Sorted celebration may not trigger if last item is between two identical items"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/789. When hand sorting the cards on the first screen, if the last card you move into position is put in the middle (or beginning) of a group of the same number, the celebratory "you sorted the data" will not appear. You'll need to move an item and resort it to get

[2022-03-29 17:34] KatieWoe commented on #115
Looks like it. Good catch.

[2022-03-29 17:42] samreid commented on #105
Those options are not available for items marked as "read only".  We don't want to allow PhET-iO users to override the mean or median, since it should be derived from the model values.  There are controls to change the contributing values (ball locations) within the sim.

We added the kick button visibleProperty, added a pickableProperty for the soccer ball group, instrumented all the checkboxes.

[2022-03-29 17:44] samreid commented on #113
Yes, it looks much better, thanks!

[2022-03-29 17:49] samreid commented on #110
Thanks for reporting this issue.  @chrisklus and I pushed a proposed fix that seems to be working in our tests.  @Nancy-Salpepi can you please verify the behavior in phettest?  Please mark ready for cherry picking if all is well.

[2022-03-29 17:54] samreid commented on #114
Good discovery, thanks!  The button label for the Kick 5 is dynamically computed based on the number of remaining balls, so it can sometimes say "Kick 4" etc.  Therefore @chrisklus and I recommend making the labels on the button non-customizable by removing their instrumentation.

[2022-03-29 17:55] samreid commented on #114
Fixed as described above.  @Nancy-Salpepi can you please review on phettest?  Please mark for cherry-picking if all is well.

[2022-03-29 18:07] Nancy-Salpepi commented on #114
That makes total sense!
I no longer see the labelNode in the tree for either button on both screens.

[2022-03-29 18:20] Nancy-Salpepi commented on #110
Looks good in master.

[2022-03-29 18:38] Nancy-Salpepi commented on #105
@samreid @chrisklus  I have a question about the property `view.topCheckboxGroup.sortDataCheckbox.enabledProperty`

If I check the Sort Data checkbox, disable that checkbox and then launch the sim, the box will become unchecked once I move a card (and can't recheck it unless I press reset all). So should we be able to disable this property?

[2022-03-29 18:55] chrisklus commented on #102
Thanks @KatieWoe! Yes, fire-on-hold is intentionally disabled for "Kick 5".

[2022-03-29 20:32] Nancy-Salpepi commented on #105
When testing `view.soccerBallNodeGroup.pickableProperty` on the Mean and Median Screen, an error came up. After refreshing Master, I was not able to reproduce, but noting anyway.
<img width="1162" alt="Screen Shot 2022-03-29 at 4 18 42 PM" src="https://user-images.githubusercontent.com/87318828/160701772-cbe11832-66ff-4a2a-ba05-2ff95699e849.png">

[2022-03-29 21:10] amanda-phet commented on #107
Looks great to me!

[2022-03-29 21:15] amanda-phet commented on #112
I've checked both screens and kicked 15 balls a number of times and this doesn't seem fixed. I am on phettest incognito, so there shouldn't be a caching issue, but I often have issues with not seeing the latest version.

![image](https://user-images.githubusercontent.com/7852916/160708429-b24f4ac7-5212-48a5-96d5-2a2c4d0c998f.png)

[2022-03-29 21:16] kathy-phet commented on #105
@samreid @chrisklus - I don't think we use pickable property any more. I thought we used inputEnabledProperty. e.g,
phScale.macroScreen.view.pHMeterNode.probeNode.inputEnabledProperty

@arouinfar - Can you comment?

[2022-03-29 21:25] arouinfar commented on #105
phScale.macroScreen.view.pHMeterNode.probeNode.inputEnabledProperty

We deprecated `pickableProperty` in favor of `inputEnabledProperty` in https://github.com/phetsims/scenery/issues/1158.  While I am fairly certain that "pickable" is still a thing found in the code, it's not something we should be exposing in the Studio tree. If a Node needs to be uninteractive without appearing to be disabled, i

[2022-03-29 22:02] kathy-phet commented on #112
I am also seeing the same thing as Amanda. It doesn't appear fixed.

[2022-03-29 22:09] DevonQui commented on #112
I second this. For both screens, the left-skew and right-skew are still switched. I switched browsers and opened up a second window to address any caching issues but the problem still persisted.

[2022-03-29 22:14] samreid commented on #112
Thanks for checking, there was indeed one more place where the values were incorrectly mapped.  I pushed a fix for that.  Ready for re-review at your convenience.

[2022-03-29 22:14] samreid commented on #112
Also a note we may change this PhET-iO API as we add support for arbitrary distributions.

[2022-03-29 22:16] samreid opened #116 "Add PhET-iO support for arbitrary distributions"
From https://github.com/phetsims/center-and-variability/issues/112 and slack:

@kathy-phet said:

I replied:

[code]

[2022-03-29 22:31] samreid commented on #116
This patch supports arbitrary distributions, but un-names the left and right skewed distributions, is that OK?

<details>

[code]

</details>

<img width="635" alt="image" src="https://user-images.githubusercontent.com/679486/160717489-dd912bdd-04c6-49c4-bebc-54b9c136d4b3.png">

[2022-03-29 23:18] kathy-phet commented on #116
This works for me. @amanda-phet - Are you OK with this?

[2022-03-29 23:19] kathy-phet commented on #116
@samreid -  Can you add some documentation on what this is? And its requirements? does it require integers? Describe that it is normalized to 1 to determine the probabilities or something.

[2022-03-29 23:20] kathy-phet commented on #116
I like that you see the distribution. Then we don't have to deal with that crazy definition of left and right skewed which frankly I also didn't know. It seems backwards to me and could create confusion if an instructional designer doesn't know what is going on.

[2022-03-30 15:07] samreid commented on #112
Based on remarks from @kathy-phet and discussion with @chrisklus, we would like to proceed with the proposal in https://github.com/phetsims/center-and-variability/issues/116.  On hold until there is progress in that issue.

[2022-03-30 15:37] samreid commented on #116
Based on remarks from @kathy-phet and discussion with @chrisklus, we would like to proceed with the proposal in this issue.  We committed above and it's ready for review.  @amanda-phet can you please take a look?  Please mark for cherry picking if it seems alright.

[2022-03-30 15:44] samreid commented on #105
@chrisklus and I reproduced this behavior, and discussed it.  It seems plausible that a client may want the checkbox to serve as a readout of whether the data is sorted, so disabling it may be reasonable in that case.

[2022-03-30 15:55] samreid commented on #105
@chrisklus and I switched to use inputEnabledProperty instead of pickableProperty and opened a new issue about forbidding that tandem name in general.  We weren't able to reproduce the problem described in https://github.com/phetsims/center-and-variability/issues/105#issuecomment-1082346338, so this issue is ready for review.  @amanda-phet can you please review and mark for cherry-picking if it se

[2022-03-30 16:08] samreid commented on #115
@chrisklus and I addressed the case above and it appears to be working OK.  However, we are aware the solution will not correctly handle multitouch.  For instance, if the user has 68669, then starts drag on the leftmost 6 and drags it between the middle 6s (without letting go), then grabs the 9, then releases the 6 between the other 6s, then drops the 9, the data would be newly sorted but the algo

[2022-03-30 17:32] chrisklus commented on #12
@amanda-phet sent us the new images and @samreid and I added them above. We added positioning for individual poses to account for relative misalignment between poses, so the images on their art-boards should be corrected for the 1.1 publication. @amanda-phet can you please review and mark for cherry pick if ready to go?

[2022-03-30 17:41] amanda-phet commented on #12
Can you say more about where there was misalignment between poses, so I
understand what needs to be corrected?

On Wed, Mar 30, 2022, 11:32 AM Chris Klusendorf ***@***.***>
wrote:

[2022-03-30 17:59] samreid commented on #12
@chrisklus and I flipped between the images in photoshop and observed that the "poised" and "kicking" seem relatively aligned to each other, but "standing" is further to the left, and higher vertically. We applied workaround offsets in the sim to correct for this.

![Kapture 2022-03-30 at 11 52 45](https://user-images.githubusercontent.com/679486/160900029-76e3bfda-e818-49c8-90b2-8dd3bc8be3c9.gif)

[2022-03-30 19:19] chrisklus commented on #12
During review with @samreid and @amanda-phet, we decided to remove the workaround positioning from these images since the the artwork was not designed to be in these positions (on top of the ground). We are going to discuss what's ideal in the future and modify the artwork and relative positioning to reflect those decisions and not use any workarounds in code.

This issue is now ready to be cherry

[2022-03-30 19:34] samreid commented on #116
@chrisklus has some documentation changes in his working copy.  Also we need to guard that values are non-negative.

[2022-03-30 19:37] samreid commented on #112
We decided #116 is good for this milestone, so this is ready for cherry-picking in the milestone.

[2022-03-30 19:47] amanda-phet opened #117 "PhET-iO design of distribution"
From reviewing #116 and #112 , I wanted to move further PhET-iO design discussions to another issue.

1. Math educators know what skewed left and right are, so I am not concerned about that terminology.
2. Having the choice to select between skewed-right and skewed-left seems advantageous to me, since those are important concepts in this sim, and are learning goals for lessons designed around this

[2022-03-30 19:48] samreid commented on #115
I recommend this new implementation is still tested before creating the next RC.  @KatieWoe can you please take a look?

[2022-03-30 19:52] amanda-phet opened #118 "Further refinements to kicker artwork"
Based on #12, there are a few things that @chrisklus still wants to change about the artwork. I would like to discuss modifying the artwork to address these concerns:

- if we can make standing foot flat on the grass instead of dipping below the horizon or having a dramatic heel above the horizon
- if we can adjust some of the kicking feet to not dip below the horizon line
- if we can fine-tune th

[2022-03-30 20:18] amanda-phet commented on #105
I confirmed the following locations for achieving what I listed:

- `centerAndVariability.medianScreen.view.soccerBallNodeGroup.inputEnabledProperty`
- `centerAndVariability.medianScreen.view.topCheckboxGroup.sortDataCheckbox.visibleProperty`
- `centerAndVariability.medianScreen.view.topCheckboxGroup.medianCheckbox.visibleProperty`
- `centerAndVariability.medianScreen.view.bottomCheckboxGroup.pred

[2022-03-30 21:19] KatieWoe commented on #115
The issue seems fixed on master

[2022-03-31 18:54] amanda-phet commented on #91
This should be fixed for 1.0, but not for the classroom prototype milestone.

[2022-04-01 00:27] amanda-phet opened #119 "New PhET-iO client requests"
In a discussion with instructional designer partners, the following requests came out of the meeting:

~(1) Can we limit the kicker to be just one person (so, just the artwork for player01 for all 15 kicks)~
- [x] (2) Can we make x balls not movable, and y balls movable (e.g. 14 frozen, 1 that can move)
- [x] (3) Can we change the appearance of balls that are movable and balls that are not (this i

[2022-04-01 01:02] amanda-phet commented on #119
@chrisklus and I discussed these and (2) and (3) are doable, and we decided to have the soccer ball change appearance when `inputEnabledProperty` is false. He is also going to instrument the bar at the top to address (4).

(1) The prompt we wanted to write for this can be achieved with the sim as it is, and the Spread screen will fully address the questions we had in mind, so I've decided to scrap

[2022-04-01 01:04] amanda-phet commented on #119
Here is the asset:

![soccerball_not pickable](https://user-images.githubusercontent.com/7852916/161174733-80b13661-95bf-4999-9384-48a6837c0207.png)

[2022-04-01 16:01] chrisklus commented on #116
These changes are complete and tested in Studio. Marking for cherry-picking.

[2022-04-01 18:46] amanda-phet opened #120 "Add cueing arrow to 15th ball"
After the user kicks 15 balls, this cueing arrow will appear above the final ball. Once a ball has been dragged (either before or after the arrow appears), the arrow won't reappear unless the sim is reset (identical behavior to the cueing arrow above the number cards on the Median screen).

We also need to make sure that if a PhET-iO client disables any/all of the balls on the field, the cueing ar

[2022-04-01 18:59] amanda-phet commented on #119
Here is a slightly lighter ball
![soccerball_not pickable](https://user-images.githubusercontent.com/7852916/161325188-b988b007-a72b-43c3-afa7-ee4f214cefd1.png)

[2022-04-01 19:47] amanda-phet commented on #98
I was not a fan of the buttons with images- they seem much too busy for this sim that has a lot of soccer balls flying around.

I provided @chrisklus with a hex code (#DAE6F7) to use instead of white, so we're going to move ahead with that for now.

[2022-04-01 19:48] amanda-phet commented on #6
Are you still using this issue to track? I'm thinking this can be closed now.

[2022-04-01 20:37] chrisklus commented on #119
This issue is complete, ready for review by @amanda-phet and @samreid

[2022-04-01 22:00] amanda-phet commented on #119
Looks great! Thanks for making this possible. These changes are going to make the wrappers even better.

[2022-04-01 22:02] samreid commented on #119
Would this simplify the boolean logic a bit?  I haven't tested it:

[code]

Other than that, the code review looks good.

[2022-04-01 22:06] samreid commented on #6
Yes, I agree this issue should be closed.

[2022-04-01 22:06] #6 closed

[2022-04-04 16:34] chrisklus commented on #98
Committed above, closing.

[2022-04-04 16:34] #98 closed

[2022-04-04 17:03] chrisklus commented on #119
Thanks @samreid - the else was needed for when switching from input disabled -> enabled, but i used your idea to improve what was there like this:

[code]

Thanks all for reviewing, closing.

[2022-04-04 20:30] chrisklus commented on #120
@samreid and I completed this in the above commit, @amanda-phet can you please review?

[2022-04-04 21:18] amanda-phet commented on #120
This is working great for the PhET version.

PhET-iO issue: When I make the group not movable, the arrow still shows up
![image](https://user-images.githubusercontent.com/7852916/161633791-042cdf43-1766-4132-a73f-e8cf4acf9ade.png)

[2022-04-04 22:18] chrisklus commented on #120
This was fixed in the above commit. Marking ready for cherry picking

[2022-04-05 15:42] chrisklus opened #121 "Mutiple errors in Studio"
@amanda-phet found several different errors that can occur when changing inputEnabledProperty for the soccerBallNodeGroup, inputEnabledProperty for individual soccer balls, and intermixing this with resetting the sim. I think it's related to the lack of un-multilinking in CAVObjectNode. I will try to find steps to reproduce them reliably and see if un-multilinking solves the problems.

[2022-04-06 04:15] chrisklus commented on #121
I made progress on this tonight. The simple case of kick 5 -> reset -> kick 5 -> toggle `inputEnabledProperty` for the group (which errors) is fixed. I'm no longer getting any `Assertion failed: should not be called if disposed` errors. I'm still getting `tried to removeListener on something that wasn’t a listener` from some extensive combination (haven't figured out the simplest case yet) of kick

[2022-04-06 16:32] chrisklus commented on #119
Oops, did not mean to close. Reopening for cherry picking.

[2022-04-06 16:51] chrisklus commented on #121
@zepumph saved the day and found a problem in Studio, see https://github.com/phetsims/studio/issues/257. Thanks! We committed a temporary solution (https://github.com/phetsims/studio/commit/9af65d0bde5cbce63446e207ec164577adb48b79) that should be cherry-picked with rc.2. Marking this issue ready to cherry pick.

[2022-04-06 17:00] amanda-phet commented on #119
This all looks good to me!

[2022-04-06 17:30] chrisklus opened #122 "Create rc.2"
@samreid and I decided to do this by merging master into 1.0, since we did not find any breaking changes related to dependencies for the sim.

We also need to cherry-pick one commit from Studio, https://github.com/phetsims/studio/commit/9af65d0bde5cbce63446e207ec164577adb48b79

[2022-04-06 18:19] chrisklus commented on #119
@samreid and I spot-checked this for https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:23] chrisklus opened #123 "DragIndicatorNodes do not autoselect in Studio"
When verifying https://github.com/phetsims/center-and-variability/issues/120 for https://github.com/phetsims/center-and-variability/issues/122, we noticed that both DragIndicatorNodes do not autoselect in Studio.

[2022-04-06 18:24] chrisklus commented on #120
@samreid and I spot-checked this for https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:24] #120 closed

[2022-04-06 18:26] chrisklus commented on #116
@samreid and I spot-checked this for https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:27] chrisklus commented on #115
@samreid and I spot-checked this for https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:27] #115 closed

[2022-04-06 18:31] chrisklus commented on #105
@samreid and I spot-checked this for https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:31] #105 closed

[2022-04-06 18:32] chrisklus commented on #112
@samreid and I spot-checked this for https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:32] #112 closed

[2022-04-06 18:33] chrisklus commented on #107
@samreid and I spot-checked this for https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:33] #107 closed

[2022-04-06 18:35] samreid commented on #99
@chrisklus and I confirmed this is fixed in in https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:35] #99 closed

[2022-04-06 18:36] samreid commented on #100
@chrisklus and I confirmed this is fixed in in https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:36] #100 closed

[2022-04-06 18:41] samreid opened #124 "State Wrapper: pass: 11, keys.length = 15, keys = ..."
Discovered in #106, @chrisklus and I saw this in the console in the state wrapper:

[code]

[2022-04-06 18:41] samreid commented on #106
@chrisklus and I confirmed this is fixed in in https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:41] #106 closed

[2022-04-06 18:42] samreid commented on #113
@chrisklus and I confirmed this is fixed in in https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:42] #113 closed

[2022-04-06 18:43] samreid commented on #102
@chrisklus and I confirmed this is fixed in in https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:43] #102 closed

[2022-04-06 18:45] samreid commented on #114
@chrisklus and I confirmed this is fixed in in https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:45] #114 closed, assigned to nobody

[2022-04-06 18:52] samreid commented on #121
@chrisklus and I confirmed this is fixed in in https://github.com/phetsims/center-and-variability/issues/122, closing.

[2022-04-06 18:52] #121 closed

[2022-04-06 18:54] samreid commented on #122
@chrisklus and I created RC.2 by merging master into 1.0.

https://phet-dev.colorado.edu/html/center-and-variability/1.0.0-rc.2/phet-io/?phetioDebug&phetioElementsDisplay=all
https://phet-dev.colorado.edu/html/center-and-variability/1.0.0-rc.2/phet/center-and-variability_en_phet.html

We checked all of the cherry-pick issues and didn't see any problems.  This was delivered to @amanda-phet and the

[2022-04-06 18:54] #122 closed

[2022-04-06 20:50] KatieWoe commented on #76
The memory leak seems worse in https://github.com/phetsims/qa/issues/795.
<img width="173" alt="memleak" src="https://user-images.githubusercontent.com/41024075/162068430-23278da4-855a-458e-93a3-8f4c7ca10f58.png">

[2022-04-06 21:21] Nancy-Salpepi opened #125 "Moving the 15th ball doesn't change the value of the last card"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/795, when the last ball kicked lands on a number that is already occupied: If I move the "last ball" kicked, it doesn't change the value of the last card. Instead, it changes the value of first card that had that number. Shouldn't the last ball t

[2022-04-06 21:59] samreid commented on #76
Thanks, I pushed a fix for the memory leak.  There may be others but that was certainly one.  Maybe we should cherry-pick it before release since running the sim for 30 minutes under normal usage seems like it might leak 100MB (if this rate keeps up).

[2022-04-06 22:04] samreid commented on #125
I see a comment in the code that says:

So it seems likely that the last ball landed at the bottom of the stack, and the other balls moved above it.  @Nancy-Salpepi would this explain the behavior you reported?  @amanda-phet I see how this could be confusing for users.  How should we proceed for the milestone and for 1.1?

[2022-04-06 22:04] KatieWoe commented on #82
As a data point, I managed to reproduce this in https://github.com/phetsims/qa/issues/795 without the speed parameter.
<img width="956" alt="reproduced" src="https://user-images.githubusercontent.com/41024075/162079872-597d5bcd-fa64-4fcd-924d-64990b555f5e.png">

[2022-04-06 22:08] samreid commented on #82
Good discovery!  @amanda-phet would you recommend investigation into this for the current milestone?

[2022-04-07 17:06] amanda-phet commented on #125
@chrisklus and I noticed another implication of having balls land at the "bottom" of the stack when I was testing out a PhET-iO example. (If I make the first 14 balls disabled and the 15th enabled, the 15th ball gets kicked and shows up at the bottom of the stack and is very obvious because of its appearance.)

We will either need to accept this weirdness, or think of another way to animate the ba

[2022-04-07 17:08] amanda-phet commented on #82
I think we can keep this on the 1.1 milestone.

[2022-04-07 17:17] samreid commented on #125
Should we change the rule so the ball that just landed is the only one that animates to the top, since that's what it looks like?

[2022-04-07 17:35] Nancy-Salpepi commented on #125
I too thought what was stated in https://github.com/phetsims/center-and-variability/issues/125#issuecomment-1091999737 was what was happening.
I think this would also be more consistent with the second screen since points are plotted one on top of the other. It makes sense for the balls to do that too.

[2022-04-07 18:00] KatieWoe commented on #79
This is also seen in https://github.com/phetsims/qa/issues/795
![Center and Variability_Center and Variability screenshot](https://user-images.githubusercontent.com/41024075/162267374-9527d317-3d75-48bf-8f2c-d183414e9466.png)

[2022-04-07 18:16] KatieWoe commented on #79
I also found it a bit odd that the spacing between the text and the images differed even when the text length was the same.
<img width="199" alt="distance" src="https://user-images.githubusercontent.com/41024075/162269920-2fd03e8a-5b22-4a7f-9864-a9aa6c755cfd.png">

[2022-04-07 20:32] Ashton-Morris commented on #96
@samreid  Here is a sound for that whenever you decide to test it out.

[- center-and-variability-ball-kick-sound.mp3](https://drive.google.com/file/d/1X8mgf4vhrA45aY7248guIyrM9dJWXz2Q/view?usp=sharing)

[2022-04-08 14:24] Nancy-Salpepi commented on #85
@chrisklus I think this can be closed because it was addressed in https://github.com/phetsims/center-and-variability/issues/115. I haven't come across a situation where the "You sorted the data" message doesn't appear since.

[2022-04-08 16:17] KatieWoe commented on #91
In https://github.com/phetsims/qa/issues/795 it seems like more characters are flashing.
![moreflash](https://user-images.githubusercontent.com/41024075/162481939-eb7ee2bf-3aaa-4245-8d87-40e8f31f269e.gif)

[2022-04-08 18:09] amanda-phet opened #126 "New feature: range"
This would be on the Mean & Median screen

Ideas is to display range above the median brackets that are on the dot plot, as well as in the list on the left side of the dot plot accordion box.

[2022-04-08 18:29] marlitas opened #127 "Median arrow appears in the question bar on startup"
- The arrow appears at wider aspect ratios in question. Remains on left edge of screen further down.
![Screen Shot 2022-04-08 at 12 27 35 PM](https://user-images.githubusercontent.com/42476338/162500259-1459a7b5-c0de-4913-b53c-648be113a350.png)
.

[2022-04-08 18:30] marlitas commented on #127
![Screen Shot 2022-04-08 at 12 30 28 PM](https://user-images.githubusercontent.com/42476338/162500657-612ddb5e-c7c2-4118-a1a6-0399bfacd8f5.png)

[2022-04-08 18:50] Nancy-Salpepi opened #128 "Launching sim during kicks leads to wrong person"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
safari

**Problem description**
In studio, if you launch the sim during a kick, the wrong person appears. After kicking all the balls in the launched sim, the last kicker will be present on the screen. The number of balls and the number of cards will be correct.

This doesn't occur with the `Kick 5` button.

**Steps to

[2022-04-08 19:46] samreid commented on #127
I accidentally broke this in https://github.com/phetsims/center-and-variability/issues/76, fixed, closing.

[2022-04-08 19:46] #127 closed

[2022-04-08 20:51] Nancy-Salpepi opened #129 "Visible property of dragIndicatorArrowNode not maintained in launched sim"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/795 when setting `view.dragIndicatorArrowNode.visibleProperty` to false, it still appears in the launched sim.

**Steps to reproduce**
In studio, on either screen:
1. Launch all 15 balls
2. Set `view.dragIndicatorArrowNode.visibleProperty` to fal

[2022-04-08 22:13] KatieWoe commented on #119
Reopening for https://github.com/phetsims/qa/issues/795. I found it odd that this was not a Featured Element. Should this be revisited?

[2022-04-08 22:26] samreid commented on #119
As far as I know, nothing is intended to be featured for this milestone, and featured elements will be designed by @amanda-phet for 1.1.

[2022-04-08 22:31] KatieWoe commented on #116
I noticed this isn't a Featured Element in https://github.com/phetsims/qa/issues/795. Should this be revisited?

[2022-04-08 22:43] samreid commented on #116
Please see https://github.com/phetsims/center-and-variability/issues/119#issuecomment-1093417931

[2022-04-09 16:18] Nancy-Salpepi opened #130 "DragIndicatorNode sometimes above 14th ball in State wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.31.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/795 in the State Wrapper:
Sometimes the dragIndicatorNode appears above the 14th ball instead of the 15th in the downstream sim.

**Steps to reproduce**
1. In the state wrapper, press the `Kick 5` button 3 times
2. Press Reset All and repeat ste

[2022-04-09 16:45] Nancy-Salpepi commented on #130
I was also able to reproduce this in the Studio wrapper on both screens and in the PhET brand sim. It seems to occur when the 14th ball lands after the 15th ball.

[2022-04-11 18:59] amanda-phet commented on #116
We haven't done any featuring yet in studio, so I'd like to close this.

[2022-04-11 18:59] #116 closed

[2022-04-11 19:00] amanda-phet commented on #119
Correct, we haven't done any featuring yet in studio. Re-closing.

[2022-04-11 19:00] #119 closed

[2022-04-11 19:28] chrisklus commented on #85
Awesome, thanks @Nancy-Salpepi! Closing.

[2022-04-11 19:28] #85 closed

[2022-04-11 20:21] amanda-phet commented on #129
I'd like to discuss this some more, but not critical for the classroom prototype milestone.

[2022-04-11 20:38] Nancy-Salpepi opened #131 "Consider redesigning arrow location"
Seen while testing https://github.com/phetsims/qa/issues/795:

With the median checkbox in the play area checked, sometimes the dragIndicatorNode and the Median arrow overlap:
<img width="269" alt="Screen Shot 2022-04-11 at 4 33 14 PM" src="https://user-images.githubusercontent.com/87318828/162827572-31baa58b-8692-47fb-95cf-d8aeb23a38ea.png">

[2022-04-11 21:40] KatieWoe opened #132 "Soccer balls tend towards higher numbers"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/795.
When kicking balls in the sim, they seem to tend towards higher numbers (8-15) rather than smaller numbers (1-7). According to @chrisklus this should be 50/50, but it definitely seemed to tend towards higher numbers from what I saw.

**Steps to reproduce**
1. K

[2022-04-11 21:59] amanda-phet commented on #132
This is how the sim is designed to behave.

What should be 50/50 (over a large enough sample) is if the balls skew right vs. skew left, since the distribution is randomly chosen between those two.

[2022-04-11 22:01] amanda-phet commented on #132
So, I'm not sure if this is actually a bug. If you run the sim many times, say 20-30 times, you should see the balls skew left roughly half the time, but it's like flipping a coin, and won't necessarily happen exactly 50% of the time.

[2022-04-12 00:58] Nancy-Salpepi commented on #89
I know this is an ongoing problem with Firefox and might not get fixed, but I just wanted to point out that the cards move up and down a bit as well.
![cards move](https://user-images.githubusercontent.com/87318828/162857106-1e36860b-a182-47d5-be01-d9bf36c943c5.gif)

[2022-04-12 16:49] KatieWoe commented on #129
This is also the case in the state wrapper

[2022-04-12 22:12] samreid commented on #130
@chrisklus and I think this would be appropriate for discussion for 1.1.

[2022-04-12 22:14] samreid commented on #131
This seems reasonable to address in 1.1.

[2022-04-12 22:19] samreid opened #133 "Soccer ball cue arrow should disappear on clear or reset all"
Discovered in https://github.com/phetsims/qa/issues/795 and https://github.com/phetsims/center-and-variability/issues/132, @chrisklus and I observed that the cueing arrow persists on clear and reset all:

<img width="750" alt="image" src="https://user-images.githubusercontent.com/679486/163063975-e8cbf5f0-b301-452e-b87b-899d97cf87de.png">

@chrisklus recommends fixing this soon, and says it would

[2022-04-12 22:38] samreid commented on #76
The original fixes had erroneous parts.  @chrisklus and I reverted that and applied the correct fix, which is ready for cherry-picking.

[2022-04-12 22:39] samreid commented on #133
This was a transient error introduced by https://github.com/phetsims/center-and-variability/issues/76, closing.

[2022-04-12 22:39] #133 closed

[2022-04-12 23:06] samreid opened #134 "Add screenshots"
@chrisklus and I were asked to publish 1.0 today, but we do not have a screenshot.  We will take a screenshot so we can proceed, but @amanda-phet should design one for the long term.

[2022-04-12 23:07] samreid commented on #134
@chrisklus and I created a screenshot, but ideally we would prefer one that shows the soccer player kicking, and has a ball flying through the air.

[2022-04-12 23:09] chrisklus commented on #8
Reopening to add QA members

[2022-04-12 23:18] chrisklus commented on #8
@samreid added QA team members who opened issues (Nancy Salpepi, Kathryn Woessner, Devon Quispe). @KatieWoe is there anyone we missed?

[2022-04-13 00:08] chrisklus commented on #134
@samreid improved the screenshot to have the player kicking, with the soccer ball in the air. Here's what was published:

![center-and-variability-screenshot](https://user-images.githubusercontent.com/5618316/163074209-17f46daf-8cba-48d0-82dd-539e26119544.png)

Leaving assigned to @amanda-phet to make the final screenshots to maintenance release with.

[2022-04-13 00:12] chrisklus commented on #76
The change above was cherry-picked for 1.0 publication. This issue may be ready to close, but for now I'm going to move to 1.1 milestone so a more careful delta comparison is completed before closing.

[2022-04-13 15:21] KatieWoe commented on #8
Emily Miller and Clifford Hardin should also be added.

[2022-04-13 16:34] samreid commented on #76
There is another memory leak in https://github.com/phetsims/center-and-variability/blob/e0611ffa0c66566ccc4e7d2be6dd9a2d2bee1fec/js/common/view/CAVPlotNode.ts#L105-L124

[2022-04-15 18:48] chrisklus commented on #8
Thanks! @samreid and I added above, marking ready to cherry-pick.

[2022-04-15 18:57] chrisklus commented on #76
@samreid and I added in the missing delete for the dots in the commit above. We tested by printing the map size and it's working as expected, marking for cherry-pick.

After making the next for RC the maintenance release, we think it would be good to have QA do 5-10 min of spot check testing  (normal sim use/testing) to sign off that this is good to go.

[2022-04-15 19:38] chrisklus commented on #79
@samreid and I did some quick fixes for this issue to improve everything noted in this issue except what's described in https://github.com/phetsims/center-and-variability/issues/79#issuecomment-1092060684. Fixing the icon spacing will be a more in-depth refactor that we would like to wait until 1.1 to do.

@Nancy-Salpepi could you test this on phettest and mark for cherry picking if it looks okay?

[2022-04-15 19:41] chrisklus commented on #134
@samreid and i addressed all of the other issues for maintenance releasing 1.0, so will proceed with the maintenance release once we hear from @amanda-phet that this issue is ready to go.

[2022-04-15 20:39] Nancy-Salpepi commented on #79
@chrisklus: a lot of things look better. The mean symbol still gets cut off in some string tests, but I think this might get fixed when you address https://github.com/phetsims/center-and-variability/issues/79#issuecomment-1092060684.

<img width="673" alt="Screen Shot 2022-04-15 at 4 38 03 PM" src="https://user-images.githubusercontent.com/87318828/163629839-a66c95e1-f925-4eb8-bad2-6961de0fef0b.pn

[2022-04-20 16:31] chrisklus opened #135 "TypeScript review of a few files"
Hey @jessegreenberg - could you please have a look at CAVModel.ts, SoccerModel.ts, CAVObject.ts, and CAVObjectNode.ts for general TypeScript review? Thanks!

[2022-04-20 21:36] jessegreenberg commented on #135
These files look really nice! My comments are mostly very minor recommendations or questions for myself:

### CAVModel.ts
- [ ] For `CAVModelOptions` haven't seen the combination with an empty type before, is this necessary?
- [ ] The `merge` call is putting an entry on the `providedOptions` that is not allowed for in `SelfOptions`. I am not familiar with PhetioGroup, but is it OK to modify the `p

[2022-04-22 20:09] KatieWoe opened #136 "Create the PhET-iO Examples"
A bit late, but for https://github.com/phetsims/qa/issues/798. Noticed during a more recent phet-io test.

In studio there are two links (PhET-iO Guide, and Examples) that don't lead to anything. These links are on the right hand side of Studio.

[2022-04-26 21:03] chrisklus commented on #79
Thanks @Nancy-Salpepi! @amanda-phet can you comment on whether this is acceptable for the prototype? Let me know if you need more context.

Note the comment above:

I think we've done what we can for this issue without refactoring the icon spacing to make it adjust to any translated string length.

[2022-04-26 21:47] amanda-phet commented on #79
Yup, this is all good for the prototype. Thanks!

[2022-04-29 20:15] chrisklus commented on #134
@samreid and I deployed these changes for version 1.0.1, closing.

[2022-04-29 20:15] #134 closed

[2022-04-29 20:15] chrisklus commented on #8
@samreid and I deployed these changes for version 1.0.1, closing.

[2022-04-29 20:15] #8 closed

[2022-04-29 20:18] chrisklus opened #137 "Fix icon spacing for checkbox labels"
From https://github.com/phetsims/center-and-variability/issues/79#issuecomment-1100317483.

The checkbox labels/symbols need custom layouts based on the loaded strings length. Marking for 1.1 publication.

[2022-04-29 20:18] chrisklus commented on #79
@samreid and I deployed these changes for version 1.0.1, closing.

I opened https://github.com/phetsims/center-and-variability/issues/137 for the remaining work from this issue for 1.1

[2022-04-29 20:18] #79 closed

[2022-04-29 20:19] chrisklus commented on #76
@samreid and I deployed these changes for version 1.0.1, closing.

[2022-05-16 16:45] KatieWoe opened #138 "CT cannot set state while setting state"
[code]

[2022-06-09 15:56] zepumph commented on #138
See https://github.com/phetsims/phet-io-wrappers/issues/441

[2022-06-13 16:48] samreid opened #139 "Add a keyboard help dialog"
Similar to https://github.com/phetsims/mean-share-and-balance/issues/32, it seems this sim should have a keyboard help dialog.

[2022-08-03 19:26] samreid commented on #138
Fixed in the aforementioned issue, closing.

[2022-08-03 19:26] #138 closed

[2022-08-24 14:31] jessegreenberg opened #140 "Rename GlobalOptionsNode"
OptionsDialog is being replaced with Preferences in https://github.com/phetsims/joist/issues/837 so files like this are being renamed.

[2022-08-24 14:46] jessegreenberg commented on #140
Done in the above commits, but wanted to notify @chrisklus and @samreid (responsible devs).

[2022-08-24 14:46] #140 closed

[2022-08-24 16:50] chrisklus commented on #140
thanks!

[2022-08-29 15:24] chrisklus commented on #132
@amanda-phet can this be closed?

[2022-08-29 16:09] amanda-phet commented on #132
As long as there isn't a bug, then yes I think this can be closed.

[2022-08-29 16:09] #132 closed

[2022-09-09 01:13] samreid opened #141 "Use string literal union enumerations instead of EnumerationValue"
From https://github.com/phetsims/axon/issues/373

[2022-11-17 21:23] samreid commented on #97
Tagging for https://github.com/phetsims/tasks/issues/1106

[2022-11-17 21:34] samreid commented on #97
Proposed fix working well locally, let's close and reopen if it recurs.

[2022-11-17 21:34] #97 closed